﻿@model ContactUsModel
@using Nop.Web.Models.Common;
@{
    Layout = "~/Views/Shared/_ColumnsOneAccount.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
    //page class
    Html.AppendPageCssClassParts("html-contact-page");
}
<div class="container">
    <div class="banner-header banner-lbook3 space-30">
        <img src="~/Themes/Bonsai/Content/images/header-collection-page.jpg" alt="Banner-header">
        <div class="text">
            <h3>
                CONTACT US
            </h3>
            <p>
                <a href="/" title="Back to the frontpage">Home</a>
                <i class="fa fa-caret-right"></i>
                Contact Us
            </p>
        </div>
    </div>
</div>
<div class="contactpage-info">
    <div class="container container-ver2">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <img class="img-responsive"  src="~/Themes/Bonsai/Content/images/contactus-img.jpg" alt="">
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="contact-block">
                    <div class="block-img"><img src=" ~/Themes/Bonsai/Content/images/contact-icon1.png" />" </div>
                    <div class="block-content">
                        <h3>ADDRESS</h3>
                          <h5>H#02(5th Floor),Bhuiya Bari</h5><br /> 
                          <h5>Anondo Nagar,Merul Badda </h5><br /> 
                          <h5>Dhaka-1212,Bangladesh</h5>     
                    </div>
                </div>
                <div class="contact-block">
                    <div class="block-img"><img src="~/Themes/Bonsai/Content/images/contact-icon2.png" />"</div>
                    <div class="block-content">
                        <h3>E-MAIL</h3>
                            <h5>info@evergreenbonsai.com</h5>
                    </div>
                </div>
                <div class="contact-block">
                    <div class="block-img"><img src="~/Themes/Bonsai/Content/images/contact-icon3.png" /></div>
                    <div class="block-content">
                        <h3>PHONE</h3>
                        <h5>+880 1914 944 724</h5> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-form-map">
    <div class="container container-ver2">
       
        <div class="row">
            <div class="col-md-push-6 col-sm-6">

            </div>
            <div class="col-md-pull-6 col-sm-6">
               
                @if (Model.SuccessfullySent)
                {
                    <div class="result">
                        @Model.Result
                    </div>
                }
                else
                {
                    using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        var validationSummary = Html.ValidationSummary(true);
                        if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                        {
                            <div class="message-error">@validationSummary</div>
                        }
                        <div class="row">
                           
                                <div class="col-md-6 col-sm-6">
                                    @Html.LabelFor(model => model.FullName)
                                    @Html.TextBoxFor(model => model.FullName, new { @class = "fullname", placeholder = T("ContactUs.FullName.Hint") })
                                    @Html.RequiredHint()
                                    @Html.ValidationMessageFor(model => model.FullName)
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    @Html.LabelFor(model => model.Email)
                                    @Html.TextBoxFor(model => model.Email, new { @class = "email", placeholder = T("ContactUs.Email.Hint") })
                                    @Html.RequiredHint()
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                                @if (Model.SubjectEnabled)
                                {
                                    <div class="col-md-6 col-sm-6">
                                        @Html.LabelFor(model => model.Subject)
                                        @Html.TextBoxFor(model => model.Subject, new { @class = "subject", placeholder = T("ContactUs.Subject.Hint") })
                                        @Html.RequiredHint()
                                        @Html.ValidationMessageFor(model => model.Subject)
                                    </div>
                                }
                                <div class="col-md-12 col-sm-12">
                                    @Html.LabelFor(model => model.Enquiry)
                                    @Html.TextAreaFor(model => model.Enquiry, new { @class = "enquiry", placeholder = T("ContactUs.Enquiry.Hint") })
                                    @Html.RequiredHint()
                                    @Html.ValidationMessageFor(model => model.Enquiry)
                                </div>
                            <div class="col-md-12 col-sm-12">
                                <button type="submit" name="send-email">
                                    @T("ContactUs.Button")
                                </button>
                            </div>
                                @if (Model.DisplayCaptcha)
                                {
                                    <div class="captcha-box">
                                        @Html.Raw(Html.GenerateCaptcha())
                                    </div>
                                }
                      
                        </div>
                        
                    }
                }
                @Html.Widget("contactus_bottom")
            </div>
        </div>
    </div>
</div>
