﻿@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Common;


<footer class="footer-v1 footer-v2 footer-v3 footer-v5">
    <div class="container container-ver2">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-top footer-tov2">

                    <p>
                        <div class="footer-lower">
                            <div class="footer-info">
                                <span class="footer-disclaimer">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>
                                @if (Model.DisplayTaxShippingInfoFooter)
                                    {
                                        var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
                                    <span class="footer-tax-shipping">
                                        @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                                    </span>
                                }
                            </div>
                            @if (!Model.HidePoweredByNopCommerce)
                            {
                                <div class="footer-powered-by">
                                    @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                                        Please find more info at http://www.nopcommerce.com/copyrightremoval.aspx*@
                                    Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>

                                    <span>Developed by <a target="_blank" href="http://www.software-valley.com/">Software Valley</a></span>
                                </div>
                            }
                            @*@Html.Action("StoreThemeSelector", "Common")*@
                        </div>
                    </p>
                    @Html.Action("Social", "Common")
                </div>
            </div>
        </div>
    </div>
</footer>



    @Html.Widget("footer")
<script type="text/javascript">
    $(document).ready(function () {
        $('.footer-block .title').click(function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 769) {
                $(this).siblings('.list').slideToggle('slow');
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.block .title').click(function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1001) {
                $(this).siblings('.listbox').slideToggle('slow');
            }
        });
    });
</script>