﻿@model HeaderLinksModel
@using Nop.Web.Models.Common;


<div class="contactus" style="position: absolute;
    right: 0px;
    top: -15px;
    right: 6px;
    color: #ff3d00;
    font-weight: bold;
        letter-spacing: 1px;
">
    <div>Contact: 01711332200</div>
    
    
    </div>
@if (Model.IsAuthenticated)
{
<a href="@Url.RouteUrl("CustomerInfo")" class="ico-account">@T("Account.MyAccount")@*@Model.CustomerName*@</a>
            <a href="@Url.RouteUrl("Logout")" class="ico-logout">@T("Account.Logout")</a>
}
else
{
    <a href="@Url.RouteUrl("Register")" class="ico-register">@T("Account.Register")</a>
          <a href="@Url.RouteUrl("Login")" class="ico-login">@T("Account.Login")</a>
}


@if (Model.WishlistEnabled)
{
    

    <a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist">
        <span class="load-wishlist">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="20" height="18.031" viewBox="0 0 20 18.031">
                <defs>
                    <style>
                        .cls-1 {
                            fill-rule: evenodd;
                        }
                    </style>
                </defs>
                <path d="M14.500,-0.014 C12.760,-0.014 11.090,0.782 10.000,2.040 C8.910,0.782 7.240,-0.014 5.500,-0.014 C2.420,-0.014 -0.000,2.364 -0.000,5.391 C-0.000,9.106 3.400,12.133 8.550,16.733 L10.000,18.020 L11.450,16.723 C16.600,12.133 20.000,9.106 20.000,5.391 C20.000,2.364 17.580,-0.014 14.500,-0.014 ZM10.100,15.268 L10.000,15.367 L9.900,15.268 C5.140,11.033 2.000,8.232 2.000,5.391 C2.000,3.426 3.500,1.951 5.500,1.951 C7.040,1.951 8.540,2.924 9.070,4.271 L10.940,4.271 C11.460,2.924 12.960,1.951 14.500,1.951 C16.500,1.951 18.000,3.426 18.000,5.391 C18.000,8.232 14.860,11.033 10.100,15.268 Z" class="cls-1"></path>
            </svg>

        </span>
        <span id="load-wishlist" class="wishlist-qty">@Model.WishlistItems</span>
    </a>

}

<a href="/cart" class="icon-cart">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="20" viewBox="0 0 24 20">
        <defs>
            <style>
                .cls-1 {
                    fill-rule: evenodd;
                }
            </style>
        </defs>
        <path d="M0.787,-0.000 C0.354,-0.000 0.004,0.335 0.004,0.750 C0.004,1.164 0.354,1.500 0.787,1.500 L3.803,1.500 L6.494,13.663 C6.600,14.121 6.913,14.502 7.309,14.499 L20.354,14.499 C20.768,14.505 21.148,14.146 21.148,13.749 C21.148,13.353 20.768,12.994 20.354,12.999 L7.945,12.999 L7.611,11.499 L21.398,11.499 C21.748,11.497 22.079,11.241 22.156,10.914 L23.982,3.414 C24.084,2.978 23.690,2.503 23.224,2.499 L5.630,2.499 L5.206,0.593 C5.132,0.260 4.795,-0.001 4.439,-0.000 L0.787,-0.000 ZM5.956,4.000 L22.238,4.000 L20.778,10.000 L7.285,10.000 L5.956,4.000 ZM9.918,14.999 C8.486,14.999 7.309,16.128 7.309,17.499 C7.309,18.871 8.486,19.999 9.918,19.999 C11.350,19.999 12.527,18.871 12.527,17.499 C12.527,16.128 11.350,14.999 9.918,14.999 ZM17.745,14.999 C16.314,14.999 15.136,16.128 15.136,17.499 C15.136,18.871 16.314,19.999 17.745,19.999 C19.177,19.999 20.354,18.871 20.354,17.499 C20.354,16.128 19.177,14.999 17.745,14.999 ZM9.918,16.499 C10.504,16.499 10.962,16.938 10.962,17.499 C10.962,18.061 10.504,18.499 9.918,18.499 C9.333,18.499 8.875,18.061 8.875,17.499 C8.875,16.938 9.333,16.499 9.918,16.499 ZM17.745,16.499 C18.331,16.499 18.789,16.938 18.789,17.499 C18.789,18.061 18.331,18.499 17.745,18.499 C17.160,18.499 16.702,18.061 16.702,17.499 C16.702,16.938 17.160,16.499 17.745,16.499 Z" class="cls-1"></path>
    </svg>
    <span id="CartCount" class="cart-count cart-qty">@(Model.ShoppingCartItems)</span>
    @*Cart <span>(<span id="CartCount" class="cart-qty">@(Model.ShoppingCartItems)</span>)</span>*@
</a>




