﻿@model HeaderLinksModel
@using Nop.Web.Models.Common;

<div class="mega-menu mega-menu-mobile">
    <ul class="nav navbar-nav" id="navbar" style="display: block;">
        <li class="level1 ">
            <a href="/bonsai">
                Bonsai
            </a>
            <i class="fa fa-plus"></i>

        </li>

        <li class="level1 ">
            <a href="/cactus-2">
                Cactus
            </a>
            <i class="fa fa-plus"></i>
            
        </li>
     
        @if (Model.IsAuthenticated)
        {
            <li class="level1 "><a href="@Url.RouteUrl("CustomerInfo")" class="ico-account">@T("Account.MyAccount")@*@Model.CustomerName*@</a><i class="fa fa-plus"></i></li>
            <li class="level1 "><a href="@Url.RouteUrl("Logout")" class="ico-logout">@T("Account.Logout")</a><i class="fa fa-plus"></i></li>
        }
        else
        {
            <li class="level1 "><a href="@Url.RouteUrl("Register")" class="ico-register">@T("Account.Register")</a><i class="fa fa-plus"></i></li>
            <li class="level1 "><a href="@Url.RouteUrl("Login")" class="ico-login">@T("Account.Login")</a><i class="fa fa-plus"></i></li>
        }

    </ul>
</div>


