﻿@model Nop.Web.Models.Common.SocialModel

@*<ul class="networks">
	@if (!string.IsNullOrEmpty(Model.FacebookLink))
	{
		<li class="facebook"><a href="@Model.FacebookLink" target="_blank">@T("Footer.FollowUs.Facebook")</a></li>
	}
	@if (!string.IsNullOrEmpty(Model.TwitterLink))
	{
		<li class="twitter"><a href="@Model.TwitterLink" target="_blank">@T("Footer.FollowUs.Twitter")</a></li>
	}
	@if (Model.NewsEnabled)
	{
		<li class="rss"><a href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})">@T("Footer.FollowUs.RSS")</a></li>
	}
	@if (!string.IsNullOrEmpty(Model.YoutubeLink))
	{
		<li class="youtube"><a href="@Model.YoutubeLink" target="_blank">@T("Footer.FollowUs.Youtube")</a></li>
	}
	@if (!string.IsNullOrEmpty(Model.GooglePlusLink))
	{
		<li class="google-plus"><a href="@Model.GooglePlusLink" target="_blank">@T("Footer.FollowUs.GooglePlus")</a></li>
	}
</ul>*@

<ul class="social">
    @if (!string.IsNullOrEmpty(Model.FacebookLink))
    {
        <li><a href="@Model.FacebookLink" target="_blank" title="facebook" targer="_blank"><i class="fa fa-facebook"></i></a></li>
    }
    
    <li><a href="/" title="instagram" targer="_blank"><i class="fa fa-instagram"></i></a></li>
    @*<li><a href="/" title="pinterest" targer="_blank"><i class="fa fa-pinterest-p"></i></a></li>*@
</ul>