
/* ONE PAGE CHECKOUT */



/*--------*/

#PageContainer {
}

.checkout-container {
    margin: 16px 0 20px;
}

    .checkout-container:before {
        content: '';
        display: table;
    }

.opc-wrapper {
    margin: 0 0 20px;
}

    .opc-wrapper .opc {
        margin: 0;
        padding: 0;
        list-style: none none;
    }

    .opc-wrapper #opc-billing {
        float: left;
        box-sizing: border-box;
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.24);
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.24);
        box-shadow: 0 1px 2px rgba(0,0,0,0.24);
        transition: all .2s ease-in-out;
        padding: 15px;
        width: 48%;
    }

    .opc-wrapper #opc-shipping {
        float: left;
        box-sizing: border-box;
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.24);
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.24);
        box-shadow: 0 1px 2px rgba(0,0,0,0.24);
        transition: all .2s ease-in-out;
        padding: 15px;
        width: 48%;
        margin-top:20px;
    }

    .opc-wrapper .step-title, .opc-block-shipping-information .shipping-information-title, .opc-block-summary > .title, .checkout-agreements-items .checkout-agreements-item-title {
        padding-bottom: 10px;
        color: #333;
        font-weight: 300;
        font-size: 2.6rem;
    }

    .opc-wrapper .step-title {
        border-bottom: 1px solid #ccc;
    }

.step-title:before, #opc-sidebar .opc-block-summary > .title:before {
    color: #FFFFFF !important;
}

.step-title:before, #opc-sidebar .opc-block-summary > .title:before {
    background-color: #7fb541 !important;
}

.step-title:before {
    background-color: #1979c3;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    margin-right: 10px;
}

.opc-wrapper #opc-shipping .step-title::before {
    content: '2';
}

.opc-wrapper #opc-billing .step-title::before {
    content: '1';
}


.opc-wrapper .step-content {
    margin: 0 0 -10px;
}

.opc-wrapper .form-login, .opc-wrapper .form-billing-address, .opc-wrapper .form-shipping-address {
    margin-top: 28px;
    margin-bottom: 28px;
}

form {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.fieldset {
    border: 0;
    margin: 0 0 40px;
    padding: 0;
    letter-spacing: -.31em;
}

    .fieldset:last-child {
        margin-bottom: 0;
    }

.opc-wrapper #opc-billing:hover {
    -moz-box-shadow: 0 0 20px 5px #b0b2ab;
    -webkit-box-shadow: 0 0 20px 5px #b0b2ab;
    box-shadow: 0 0 20px 5px #b0b2ab;
}

select {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 1.42857143;
    padding: 5px 10px 4px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: #fff url(images/select-bg.svg) no-repeat 100% 45%;
    background-size: 30px 60px;
    border: 1px solid #ccc;
    height: 32px;
    padding-right: 25px;
    text-indent: .01em;
    text-overflow: '';
}

input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    height: 32px;
    line-height: 1.42857143;
    padding: 0 9px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
}

.opc-wrapper .form-login .fieldset .field .label, .opc-wrapper .form-billing-address .fieldset .field .label, .opc-wrapper .form-shipping-address .fieldset .field .label {
    font-weight: 400;
}

.opc-wrapper #opc-billing .label, .opc-wrapper #opc-shipping .label {
    margin: 0 0 8px;
    display: inline-block;
    letter-spacing: normal;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    padding: 14px 0px 0px;
}

.edit-address .inputs {
    position: relative;
}

.edit-address .required {
    position: absolute;
    top: 17px;
    right: 3px;
    color: red;
}

.select-billing-address > label:first-child {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
}

.opc-wrapper * {
    letter-spacing: normal;
}

#MainContent {
    width: 80%;
    margin: auto;
}

.section.address-item {
    padding: 10px 0 0 0;
}

.opc-wrapper #opc-shipping_method {
    float: right;
    margin-left: 4%;
    box-sizing: border-box;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 2px rgba(0,0,0,0.24);
    transition: all .2s ease-in-out;
    padding: 15px;
    width: 48%;
}

#opc-shipping {
    clear: both;
}

.opc-wrapper #opc-payment_method {
    float: right;
    box-sizing: border-box;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 2px rgba(0,0,0,0.24);
    transition: all .2s ease-in-out;
    padding: 15px;
    width: 48%;
}

    .opc-wrapper #opc-payment_method:hover {
        -moz-box-shadow: 0 0 20px 5px #b0b2ab;
        -webkit-box-shadow: 0 0 20px 5px #b0b2ab;
        box-shadow: 0 0 20px 5px #b0b2ab;
    }

    .opc-wrapper #opc-payment_method .step-title:before {
        content: '3';
    }

#opc-sidebar {
    float: right;
    width: 100%;
    margin-top: 30px;
}
.opc-block-summary {
    background: #f5f5f5;
    margin: 0 0 20px;
    padding: 22px 30px;
}
#opc-sidebar .opc-block-summary>.title:before {
    content: '\2713';
    background-color: #1979c3;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    margin-right: 10px;
}
.simple-checkout-confirm {
    clear: both;
    float: right;
    width: 100%;
}
#opc-sidebar .confirm-order-next-step-button {
    line-height: 2.2rem;
    padding: 6px 17px;
    font-size: 18px;
    margin: 0;
    width: 100%;
    border-radius: 3px;
    font-weight: 400;
    background-color: #7fb541 !important;
    min-width: 160px;
    border: 0;
    letter-spacing: .5px;
    color: #fff;
    text-transform: uppercase;
}

#opc-sidebar .confirm-order-next-step-button:hover{
    background-color: #7fb541 !important;
}

.grand .mark, .opc-block-summary .grand .mark {
    font-size: 1.8rem;
    border-top: 1px solid #ccc;
    padding-right: 10px;
}
 .grand strong, .opc-block-summary .grand strong {
    display: inline-block;
    font-weight: 600;
    padding: 3px 0 0;
}
 .minicart-items {
    margin: 0;
    padding: 0;
    list-style: none none;
}
 .opc-block-summary .minicart-items-wrapper {
    margin: 0 -15px 0 0;
    max-height: 370px;
    padding: 15px 15px 0 0;
    border: 0;
}
 .minicart-items {
    margin: 0;
    padding: 0;
    list-style: none none;
}
 .product-item {
    vertical-align: top;
    padding: 20px 0;
    padding-top: 0;
    margin: 0;
    padding-left: 0;
}
 .opc-block-summary .items-in-cart .product {
    position: relative;
}
 .abs-add-clearfix:before, .abs-add-clearfix:after, .abs-add-fields .fieldset .actions-toolbar:before, .abs-add-fields .fieldset .actions-toolbar:after, .payment-method-braintree .hosted-date-wrap:before, .payment-method-braintree .hosted-date-wrap:after, .multicheckout .item-options:before, .multicheckout .item-options:after, .multicheckout .block:before, .multicheckout .block:after, .multicheckout .block-content:before, .multicheckout .block-content:after, .bundle-options-container .product-options-wrapper .field.choice .label:before, .bundle-options-container .product-options-wrapper .field.choice .label:after, .toolbar:before, .toolbar:after, .sidebar .product-items-images:before, .sidebar .product-items-images:after, .cart.table-wrapper .actions-toolbar:before, .cart.table-wrapper .actions-toolbar:after, .cart.table-wrapper .item-options:before, .cart.table-wrapper .item-options:after, .minicart-items .product-item>.product:before, .minicart-items .product-item>.product:after, .checkout-container:before, .checkout-container:after, .checkout-onepage-success:before, .checkout-onepage-success:after, .opc-estimated-wrapper:before, .opc-estimated-wrapper:after, .opc-wrapper .field.addresses:before, .opc-wrapper .field.addresses:after, .page-product-downloadable .product-add-form:before, .page-product-downloadable .product-add-form:after, .gift-item-block .content:before, .gift-item-block .content:after, .order-details-items .order-gift-message:before, .order-details-items .order-gift-message:after, .order-details-items .block-order-details-gift-message:before, .order-details-items .block-order-details-gift-message:after, .block-giftregistry-shared-items .product .item-options:before, .block-giftregistry-shared-items .product .item-options:after, .gift-wrapping-list:before, .gift-wrapping-list:after, .opc-wrapper .data.table .gift-wrapping .content:before, .opc-wrapper .data.table .gift-wrapping .content:after, .table-order-items .gift-wrapping .content:before, .table-order-items .gift-wrapping .content:after, .order-options .product:before, .order-options .product:after, .map-popup .map-info-price:before, .map-popup .map-info-price:after, .customer-review .product-details:before, .customer-review .product-details:after, .form-create-return .actions-toolbar:before, .form-create-return .actions-toolbar:after, .header.content:before, .header.content:after, .form-giftregistry-share .fieldset .actions-toolbar:before, .form-giftregistry-share .fieldset .actions-toolbar:after, .form-giftregistry-edit .fieldset .actions-toolbar:before, .form-giftregistry-edit .fieldset .actions-toolbar:after, .form-add-invitations .fieldset .actions-toolbar:before, .form-add-invitations .fieldset .actions-toolbar:after, .form-create-return .fieldset .actions-toolbar:before, .form-create-return .fieldset .actions-toolbar:after, .form.send.friend .fieldset .actions-toolbar:before, .form.send.friend .fieldset .actions-toolbar:after {
    content: '';
    display: table;
}
 .product-image-container {
    display: inline-block;
    max-width: 100%;
        height: 75px;
    width: 75px;
    float:left;
}

 .product-image-wrapper {
    display: block;
    
    overflow: hidden;
    position: relative;
    z-index: 1;
        height: auto;
    padding: 0 !important;
}

 .minicart-items .product-item-details {
    padding-left: 88px;
}

 .opc-block-summary .product-item .product-item-inner {
    display: table;
    margin: 0 0 10px;
    width: 100%;
}
 .opc-block-summary .product-item .product-item-name-block {
    display: table-cell;
    padding-right: 5px;
    text-align: left;
}
 .minicart-items .product-item-name {
    font-weight: 400;
    margin: 0 0 10px;
    word-wrap: break-word;
    display: block;
}

.product-item-name>a, .product.name a>a {
    color: #333;
    text-decoration: none;
    color: #006bb4;
}

.minicart-items .product-item-details .details-qty {
    margin-top: 10px;
}

#opc-sidebar .label {
    margin: 0 0 8px;
    display: inline-block;
        color: #333;
        padding:0px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 1.4rem;
}
#opc-sidebar .opc-block-summary .product-item-details input.qty {
    max-width: 45px;
    text-align: center;
}

.opc-wrapper #opc-shipping:hover {
    -moz-box-shadow: 0 0 20px 5px #b0b2ab;
    -webkit-box-shadow: 0 0 20px 5px #b0b2ab;
    box-shadow: 0 0 20px 5px #b0b2ab;
}
.payment-info .info td{
    border:0px;
}
.payment-info .info{
    margin-top: 10px;
}
.payment-method{
    margin-top: 25px;
}

.address-item .buttons input{
    margin-top: 30px !important;
    width: 200px !important;
    padding: 4.5px 18px !important;
    background: #80b435 !important;
    font-size: 18px !important;
    color: #FFF !important;
    display: inline-block !important;
    text-transform: capitalize !important;
    border: 1px solid transparent !important;
    border-radius: 40px !important;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.address-item .buttons input:hover{
    background: transparent !important;
    color: #333333 !important;
    border: 1px solid #333333 !important;
}
@media (min-width: 768px) {
    .opc-wrapper {
        box-sizing: border-box;
        float: left;
        order: 1;
    }

        .opc-wrapper .form-login, .opc-wrapper .form-billing-address, .opc-wrapper .form-shipping-address {
            max-width: 500px;
        }

        .opc-wrapper .form-login {
            border-bottom: 1px solid #ccc;
            padding-bottom: 20px;
        }

    #opc-sidebar {
        width: 33.33%;
        margin-top: 0;
    }
}

@media (min-width: 1024px) {
    .opc-wrapper {
        width: 66.66%;
        padding-right: 30px;
    }
}



@media (min-width: 320px) and (max-width: 480px){
        .opc-wrapper #opc-billing {
        width: 100%;
    }
    .opc-wrapper #opc-payment_method {
        width: 100%;
        margin-top: 20px;
    }
    .opc-wrapper #opc-shipping{
        width: 100%;
    }
    #opc-sidebar{
        width: 100%;
    }
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px){
        .opc-wrapper #opc-billing {
        width: 100%;
    }
    .opc-wrapper #opc-payment_method {
        width: 100%;
        margin-top: 20px;
    }
    .opc-wrapper #opc-shipping{
        width: 100%;
    }
    #opc-sidebar{
        width: 100%;
    }
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    #opc-sidebar {
    width: 46.33%;
    margin-top: -339px;
    margin-right: 29px;
    }
    .opc-wrapper {
        width: 100%;
        padding-right: 30px;
    }
}
/****Ipad****/
@media (min-width: 768px) and (max-width: 1023px){
    .opc-wrapper #opc-billing {
        width: 100%;
    }
    .opc-wrapper #opc-payment_method {
        width: 100%;
        margin-top: 20px;
    }
    .opc-wrapper #opc-shipping{
        width: 100%;
    }
    #opc-sidebar{
        width: 100%;
    }
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
/****Ipad pro****/
@media (min-width: 1024px) and (max-width: 1366px){
    #opc-sidebar {
    width: 46.33%;
    margin-top: -339px;
    margin-right: 29px;
    }
    .opc-wrapper {
        width: 100%;
        padding-right: 30px;
    }
}

#checkout-billing-load .new-address-next-step-button{
        background: #7fb541;
    color: #fff;
}