﻿@model CheckoutCompletedModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-order-completed-page");
}

<div class="page-container" id="PageContainer">
    <div class="main-content" id="MainContent">
        <div id="shopify-section-collection-template" class="shopify-section">
            <div id="">
                <div class="container">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                    <div class="page checkout-page order-completed-page">
                        @if (!Model.OnePageCheckoutEnabled)
                        {
                            @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Complete })
                        }
                        <div class="page-title">
                            <h1>@T("Checkout.ThankYou")</h1>
                        </div>
                        <div class="page-body checkout-data">
                            @Html.Widget("checkout_completed_top", Model.OrderId)
                            <div class="section order-completed">
                                <div class="title">
                                    @T("Checkout.YourOrderHasBeenSuccessfullyProcessed")
                                </div>
                                <div class="details">
                                    <div class="order-number">
                                        <strong>@T("Checkout.OrderNumber"): @Model.CustomOrderNumber</strong>
                                    </div>
                                    <div class="details-link">
                                        <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <input type="button" value="@T("Checkout.ThankYou.Continue")" class="button-1 order-completed-continue-button" onclick="setLocation('@Url.RouteUrl("HomePage")')" />
                                </div>
                            </div>
                            @Html.Widget("checkout_completed_bottom", Model.OrderId)
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

