﻿@{
    Layout = "~/Views/Shared/_RootCommon.cshtml";
}
@if (IsSectionDefined("Breadcrumb"))
{
    @section Breadcrumb {
        @RenderSection("Breadcrumb")
    }
}


    <div class="page-container" id="PageContainer">
        <div class="main-content" id="MainContent">
            <div id="shopify-section-product-template" class="shopify-section">
                @Html.Widget("main_column_before")
                @RenderBody()
                @Html.Widget("main_column_after")
            </div>
        </div>
    </div>



