﻿@{
    Layout = "~/Views/Shared/_RootCommon.cshtml";
}
@if (IsSectionDefined("Breadcrumb"))
{
    @section Breadcrumb {
        @RenderSection("Breadcrumb")
    }
}

<div class="page-container" id="PageContainer">
    <main class="main-content" id="MainContent">
        <div class="content-page">
            @Html.Widget("main_column_before")
            @RenderBody()
            @Html.Widget("main_column_after")
        </div>
    </main>
</div>
    

