﻿@model ProductOverviewModel
@using Nop.Core
@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@{
    //prepare "Add to cart" AJAX link
    string addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
    }

    var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}
     
<div class="product">
    <div class="product-images">
        <a class="product-images" href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
            <img class="primary_image" alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" >
            
        </a>
        <div class="action">
            
            @if (!Model.ProductPrice.DisableBuyButton)
            {
                var addToCartText = T("ShoppingCart.AddToCart").Text;
                if (Model.ProductPrice.IsRental)
                {
                    addToCartText = T("ShoppingCart.Rent").Text;
                }
                if (Model.ProductPrice.AvailableForPreOrder)
                {
                    addToCartText = T("ShoppingCart.PreOrder").Text;
                }
                <button type="button" title="@(addToCartText)" class="button-2 product-box-add-to-cart-button add-cart add-to-cart-button enj-add-to-cart-btn" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;"></button>
            }
              
                @if (!Model.ProductPrice.DisableWishlistButton)
                {
                    <a href="javascript:void(0)" class="wish" title="@T("ShoppingCart.AddToWishlist")" onclick="AjaxCart.addproducttocart_catalog('@addtowishlistlink');return false;"></a>
                }
           
            
            @*<a href="javascript:void(0)" data-id="house-shape-close" class="zoom quick-view engoj-btn-quickview" title="Quickview">

            </a>*@
        </div>
        <!-- End action -->
    </div>    
    <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title"><p class="product-title">@Model.Name</p></a>   
    @if (!String.IsNullOrEmpty(Model.ProductPrice.OldPrice))
    {
        <p class="product-price-old"><span class="money">@Model.ProductPrice.OldPrice</span></p>
    }
    
    <p class="product-price" style="padding: 0 20px 0 30px; "><span class="money">@Model.ProductPrice.Price</span></p>
</div>


