﻿@model ProductOverviewModel
@using Nop.Core
@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@{
    //prepare "Add to cart" AJAX link
    string addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
    }

    var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}



<!-- END / ITEM -->


    <div class="item-inner list-product" data-id-product="@Model.Id" data-reference-product="TFI1067" data-name-product="@Model.Name" data-list-product="Favorites" data-category-product="Tim Fitzharris" data-position-product="1">
        <div class="product">
            <div class="product-images">
                <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
                    <img class="primary_image" alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
                </a>
            </div>




            <a href="@Url.RouteUrl("Product", new {SeName = Model.SeName})" title="Aviva In Bruine Mand"><p class="product-title">@Model.Name</p></a>


            <span class="spr-badge" id="spr_badge_38925795345" data-rating="4.5">
                <span class="spr-starrating spr-badge-starrating"><i class="spr-icon spr-icon-star" style="color: #e4ba4a;"></i><i class="spr-icon spr-icon-star" style="color: #e4ba4a;"></i><i class="spr-icon spr-icon-star" style="color: #e4ba4a;"></i><i class="spr-icon spr-icon-star" style="color: #e4ba4a;"></i><i class="spr-icon spr-icon-star-half-alt" style="color: #e4ba4a;"></i></span><span class="spr-badge-caption">2 reviews</span>
            </span>




            @if (!String.IsNullOrEmpty(Model.ProductPrice.OldPrice))
            {
                <p class="product-price-old">
                    <span class="money" data-currency-usd="$700.00">
                        <span class="price old-price">@Model.ProductPrice.OldPrice</span>
                    </span>
                </p>
            }

            <p class="product-price">
                <span class="money" data-currency-usd="$210.00">

                    <span class="price actual-price">@Model.ProductPrice.Price</span>


                    @if (Model.ProductPrice.DisplayTaxShippingInfo)
                    {
                        var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
                        //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                        //of course, you can modify appropriate locales to include VAT info there
                        <span class="tax-shipping-info">
                            @T(inclTax ? "Products.Price.TaxShipping.InclTax" : "Products.Price.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                        </span>
                    }
                    @if (!String.IsNullOrEmpty(Model.ProductPrice.BasePricePAngV))
                    {
                        <span class="base-price-pangv">
                            @Model.ProductPrice.BasePricePAngV
                        </span>
                    }

                </span>
            </p>

            <p class="description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
            <div class="action">


                <a class="add-cart button-addcart" href="javascript:void(0)" title="Select Option">
                </a>


                <a href="javascript:void(0)" class="wish" title="Add to Wishlist"></a>

                @if (!Model.ProductPrice.DisableWishlistButton)
                {
                    <input style="display:none" type="button" value="@T("ShoppingCart.AddToWishlist")" title="@T("ShoppingCart.AddToWishlist")" class="button-2 add-to-wishlist-button" onclick="AjaxCart.addproducttocart_catalog('@addtowishlistlink');return false;" />
                }

            </div>

            <div class="action-plant">

                <a href="javascript:void(0)" class="button-addcart" title="Select Option">@T("Add To Cart")</a>


                @if (!Model.ProductPrice.DisableBuyButton)
                {
                    var addToCartText = T("ShoppingCart.AddToCart").Text;
                    if (Model.ProductPrice.IsRental)
                    {
                        addToCartText = T("ShoppingCart.Rent").Text;
                    }
                    if (Model.ProductPrice.AvailableForPreOrder)
                    {
                        addToCartText = T("ShoppingCart.PreOrder").Text;
                    }
                    <input type="button" value="@(addToCartText)" class="button-2 product-box-add-to-cart-button" style="display:none;" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;" />
                }


                <a href="javascript:void(0)" class="wish" title="Add to Wishlist"></a>

            </div>

            <!-- End action -->
     
        </div>
        <!-- End product -->
    </div>

<script>
    $(document).ready(function () {
        $(".button-addcart").click(function () {
            var parentEl = $(this).parents(".product");
            parentEl.find(".product-box-add-to-cart-button").click();
        });


        $(".wish").click(function () {
            var parentEl = $(this).parents(".product");
            parentEl.find(".add-to-wishlist-button").click();
        });

    });
</script>
