﻿@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")


    @Html.Action("AdminHeaderLinks", "Common")
<div>
    @Html.Partial("HeaderCommon")
    <script type="text/javascript">
        AjaxCart.init(false, '.cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
    </script>


    @Html.Widget("content_before")

    @if (IsSectionDefined("Breadcrumb"))
    {
        @RenderSection("Breadcrumb")
    }

    @RenderBody()

    @Html.Widget("content_after")

    @Html.Action("Footer", "Common")

    @Html.Action("EuCookieLaw", "Common")
    @Html.Widget("body_end_html_tag_before")
</div>

   