﻿<div id="shopify-section-header" class="shopify-section">
    <header id="header" class="header-v3 header-v2 plant-header-v1">
        <div class="header-top">
            <div class="container ">
                <div class="box">
                    <p class="icon-menu-mobile"><i class="fa fa-bars"></i></p>
                    <div class="box-right">
                        <div class="cart hover-menu">

                            @Html.Action("HeaderLinks", "Common")
                        </div>
                        <div class="search dropdown" data-toggle="modal" data-target=".bs-example-modal-lg">
                            <i class="icon"></i>
                        </div>
                    </div>
                    <div class="logo">
                        @*<a href="https://plant-store-demo.myshopify.com"><img src="//cdn.shopify.com/s/files/1/1485/6894/t/21/assets/h2_logo1.png?494087271982130176" alt="" width="127px"></a>*@
                        @Html.Action("Logo", "Common")
                    </div>
                    <nav class="mega-menu mega-menu-desktop">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        @Html.Action("TopMenu", "Catalog")

                    </nav>
                    <div class="logo-mobile">
                        @Html.Action("Logo", "Common")
                    </div>



                </div>
            </div>
            <!-- End container -->
        </div>
        <!-- End header-top -->
       @Html.Action("HeaderLinksCustom", "Common")
        </header>
    </div>

