﻿@model ShoppingCartModel
@using Nop.Web.Models.Checkout
@using Nop.Web.Models.ShoppingCart;
@{
    Layout = "~/Views/Shared/_ColumnsOneCommon.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
    //page class
    Html.AppendPageCssClassParts("html-shopping-cart-page");
}
@if (!Model.OnePageCheckoutEnabled)
{
    @Html.Action("CheckoutProgress", "Checkout", new {step = CheckoutProgressStep.Cart})
}

<div class="page-container" id="PageContainer">
    <main class="main-content" id="MainContent" role="main">


        <div id="shopify-section-cart-template" class="shopify-section">

            <div class="main-content">
                <div class="container container-ver2" style="padding: 0;">
                    <div class="banner-header-cart">
                        <div class="text">
                            <h3>
                                Your Shopping Cart

                            </h3>
                            <p>
                                <a href="/" title="Back to the frontpage">Home</a>


                                <i class="fa fa-caret-right"></i>
                                Your Shopping Cart



                            </p>
                        </div>
                    </div>
                </div>
                <div class="container container-ver2">
                    @Html.Partial("OrderSummary", Model)                    
                </div>
            </div>
            <style>
                .banner-header-cart h3 {
                    display: none;
                }
            </style>


        </div>


    </main>
</div>

