@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart;
@{
   var webHelper = EngineContext.Current.Resolve<IWebHelper>();
}

@if (Model.Items.Count > 0)
{
    if (Model.Warnings.Count > 0)
    {
        <div class="message-error">
            <ul>
                @foreach (var warning in Model.Warnings)
                {
                    <li>@warning</li>
                }
            </ul>
        </div>
    }

    using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post, new { enctype = "multipart/form-data", id = "shopping-cart-form" }))
    {
<div class="row">
    <div class="col-md-8">
        <h3>Shopping Cart</h3>
        <div class="cart-box-container cart-box-cart-container">
          
            @Html.AntiForgeryToken()

            <div class="box cart-container">
                <table class="table cart-table space-30">
                    
                 
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr class="item_cart">
                                @if (Model.ShowProductImages)
                                {
                                    <td class="product-photo">
                                        <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })"><img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" /></a>
                                    </td>

                                }
                                
                                
                                <td class="produc-name">
                                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" class="product-name">@item.ProductName</a>
                                    @if (Model.ShowSku && !String.IsNullOrEmpty(item.Sku))
                                    {
                                    <div class="sku">
                                        <label class="td-title">@T("ShoppingCart.SKU"):</label>
                                        <span class="sku-number">@item.Sku</span>
                                    </div>
                                    }
                                    @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                    {
                                        <div class="attributes">
                                            @Html.Raw(item.AttributeInfo)
                                        </div>
                                    }
                                    @if (!String.IsNullOrEmpty(item.RecurringInfo))
                                    {
                                        <div class="recurring-info">
                                            @Html.Raw(item.RecurringInfo)
                                        </div>
                                    }
                                    @if (!String.IsNullOrEmpty(item.RentalInfo))
                                    {
                                        <div class="rental-info">
                                            @Html.Raw(item.RentalInfo)
                                        </div>
                                    }
                                    @if (Model.IsEditable && item.AllowItemEditing)
                                    {
                                        var editCartItemUrl = Url.RouteUrl("Product", new { SeName = item.ProductSeName });
                                        editCartItemUrl = webHelper.ModifyQueryString(editCartItemUrl, "updatecartitemid=" + item.Id, null);
                                        <div class="edit-item">
                                            <a href="@editCartItemUrl">@T("Common.Edit")</a>
                                        </div>
                                    }
                                    @if (item.Warnings.Count > 0)
                                    {
                                        <div class="message-error">
                                            <ul>
                                                @foreach (var warning in item.Warnings)
                                                {
                                                    <li>@warning</li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </td>
                                <td class="produc-price">
                                    @if (Model.IsEditable)
                                    {
                                        if (item.AllowedQuantities.Count > 0)
                                        {
                                            <select name="itemquantity@(item.Id)" class="qty-dropdown">
                                                @foreach (var qty in item.AllowedQuantities)
                                                {
                                                    <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <input name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="qty-input" />
                                        }

                                    }
                                    else
                                    {
                                        <span class="product-quantity">@item.Quantity</span>
                                    }

                                    @if (Model.IsEditable)
                                    {
                                    
                                        if (item.DisableRemoval)
                                        {
                                            <text>&nbsp;</text>
                                        }
                                        else
                                        {
                                            <label class="td-title">@T("ShoppingCart.Remove"):</label>
                                            <input type="checkbox" name="removefromcart" class="removefromcart" value="@(item.Id)" />

                                            <a href="javascript:void(0)" class="remove"><img src="~/Themes/Bonsai/Content/images/icon-close-cart.png" alt="close"></a>

                                        }

                                    }


                                    
                                    <span class="amount"><span class="money" data-currency-usd="$350.00">@item.UnitPrice</span></span>


                                </td>
                                @*<td class="quantity">
                                    <label class="td-title">@T("ShoppingCart.Quantity"):</label>
                                    @if (Model.IsEditable)
                                    {
                                        if (item.AllowedQuantities.Count > 0)
                                        {
                                            <select name="itemquantity@(item.Id)" class="qty-dropdown">
                                                @foreach (var qty in item.AllowedQuantities)
                                                {
                                                    <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <input name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="qty-input" />
                                        }

                                    }
                                    else
                                    {
                                        <span class="product-quantity">@item.Quantity</span>
                                    }
                                </td>*@
                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        
            @if (Model.IsEditable && Model.Items.Count > 0 && Model.DisplayTaxShippingInfo)
            {
            var inclTax = EngineContext.Current.Resolve<IWorkContext>
                ().TaxDisplayType == TaxDisplayType.IncludingTax;
                //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                //of course, you can modify appropriate locales to include VAT info there
                <div class="tax-shipping-info">
                    @T(inclTax ? "ShoppingCart.TaxShipping.InclTax" : "ShoppingCart.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                </div>
                }
                <div class="cart-options">
                    @if (Model.IsEditable)
                    {
                        <div class="common-buttons">
                            <input type="submit" name="updatecart" value="@T("ShoppingCart.UpdateCart")" class="button-2 update-cart-button" />
                            <input type="submit" name="continueshopping" value="@T("ShoppingCart.ContinueShopping")" class="button-2 continue-shopping-button" />
                        </div>
                    }
                    @if (Model.IsEditable)
                    {
                        @Html.Partial("_CheckoutAttributes", Model.CheckoutAttributes, new ViewDataDictionary())
                    }
                    @if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
                    {
                        <div class="selected-checkout-attributes">
                            @Html.Raw(Model.CheckoutAttributeInfo)
                        </div>
                    }
                </div>
                <div class="cart-footer">
                    @Html.Widget("order_summary_cart_footer")
                    @if (Model.IsEditable)
                    {
                        <div class="cart-collaterals">
                            <div class="deals">
                                @Html.Partial("_DiscountBox", Model.DiscountBox)
                                @Html.Partial("_GiftCardBox", Model.GiftCardBox)
                                @Html.Widget("order_summary_content_deals")
                            </div>
                            @Html.Partial("EstimateShipping", Model.EstimateShipping)
                        </div>
                    }
                    <div class="totals">
                        
                        @if (Model.IsEditable)
                        {
                            if (!String.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                            {
                                <div class="min-amount-warning">
                                    @Model.MinOrderSubtotalWarning
                                </div>
                            }
                        }
                        @if (Model.IsEditable)
                        {
                            if (Model.TermsOfServiceOnShoppingCartPage)
                            {
                                <div id="terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display: none;">
                                    <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
                                </div>
                                <div class="terms-of-service">
                                    <input id="termsofservice" type="checkbox" checked="checked" name="termsofservice" />
                                    <label for="termsofservice">@T("Checkout.TermsOfService.IAccept")</label>
                                    <a class="read" id="read-terms">@T("Checkout.TermsOfService.Read")</a>
                                    <script>
                               $(document).ready(function() {
                                   $('#read-terms').on('click', function(e) {
                                       e.preventDefault();
                                       displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new { SystemName = "conditionsofuse" })', '@T("Checkout.TermsOfService")');
                                   });
                               });
                                    </script>
                                </div>
                            }
                            <div class="checkout-buttons">
                                @if (String.IsNullOrEmpty(Model.MinOrderSubtotalWarning) && !Model.HideCheckoutButton)
                                {
                                    <script type="text/javascript">
                               $(document).ready(function () {
                                   $('#checkout').click(function () {
                                       //terms of service
                                       var termOfServiceOk = true;
                                       if ($('#termsofservice').length > 0) {
                                           //terms of service element exists
                                           if (!$('#termsofservice').is(':checked')) {
                                               $("#terms-of-service-warning-box").dialog();
                                               termOfServiceOk = false;
                                           } else {
                                               termOfServiceOk = true;
                                           }
                                       }
                                       return termOfServiceOk;
                                   });
                               });
                                    </script>
                                    <button type="submit" id="checkout" name="checkout" value="checkout" class="button-1 checkout-button">
                                        @T("Checkout.Button")
                                    </button>
                                }
                            </div>
                            <div class="addon-buttons">
                                @*Payment method buttons (e.g. GoogleCheckoutButton, Paypal Express)*@
                                @Html.Partial("_ButtonPaymentMethod", Model)
                            </div>
                        }
                    </div>
                </div>
                @if (Model.IsEditable)
                {
                @Html.Action("CrossSellProducts", "Product")
                }
                                                           @Html.Widget("order_summary_content_before")
                                                           @Html.Partial("_OrderReviewData", Model.OrderReviewData)
</div>
    </div>
    <div class="col-md-4">
        <div class="item">
            <h3>Cart Totals</h3>
            <div class="item-coupon item-total">
                @*<div class="subtotal">
                    <span>Cart Note</span>
                </div>*@
                <div class="total">
                    @Html.Action("OrderTotals", "ShoppingCart", new { isEditable = Model.IsEditable })
                </div>
            </div>
        </div>

        <div class="item item-button">            
        
            <button type="submit" id="checkout" name="checkout" value="checkout" class="button-1 checkout-button text-uppercase">
                @T("Checkout.Button")
            </button>
        </div>
    </div>
</div>
    }
        }
        else
        {
    <div class="no-data">
        @T("ShoppingCart.CartIsEmpty")
    </div>
}

<script>
    $(document).ready(function () {
        $(".remove").click(function () {
          
            var parentEl = $(this).parent();
            console.log(parentEl.find(".removefromcart"));
            parentEl.find(".removefromcart").click(function () {
                
                if (this.checked) {
                    $(".button-2.update-cart-button").click();
                }

            });

            parentEl.find(".removefromcart").click();
        });
    });
</script>