﻿@model CategoryModel
@{
    Layout = "~/Views/Shared/_ColumnsOneCommon.cshtml";

    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-category-page");

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl);
    }

    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@*category breadcrumb*@

@{
    //current category ID
    int currentCategoryId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
    {
        currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
    }


    //current manufacturer ID
    int currentManufacturerId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("manufacturer", StringComparison.InvariantCultureIgnoreCase))
    {
        currentManufacturerId = Convert.ToInt32(Url.RequestContext.RouteData.Values["manufacturerId"].ToString());
    }


    //current product ID
    int currentProductId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("productdetails", StringComparison.InvariantCultureIgnoreCase))
    {
        currentProductId = Convert.ToInt32(Url.RequestContext.RouteData.Values["productId"].ToString());
    }
}



<div class="page-container" id="PageContainer">
    <main class="main-content" id="MainContent" role="main">
        <div id="shopify-section-collection-template" class="shopify-section">
            <div data-section-id="collection-template" data-section-type="data-section-type">
                <div class="container">
                    <div class="banner-header banner-lbook3 space-30">
                        <img src="/Themes/Bonsai/Content/images/header-collection-page.jpg" alt="Banner-header">
                        <div class="text">
                            <h3>
                                Products
                            </h3>
                            <p>
                                <ul class="product_url">
                                    <li>
                                        <a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
                                        <span class="delimiter">@breadcrumbDelimiter</span>
                                    </li>
                                    @foreach (var cat in Model.CategoryBreadcrumb)
                                    {
                                        var isLastCategory = cat.Id == Model.Id;
                                        <li>
                                            @if (isLastCategory)
                                            {
                                                <strong class="current-item">@cat.Name</strong>
                                            }
                                            else
                                            {
                                                <a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" title="@cat.Name">@cat.Name</a>
                                                <span class="delimiter">@breadcrumbDelimiter</span>
                                            }
                                        </li>
                                    }
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="container" style="margin-top: 65px;">
                    <div id="primary" class="col-xs-12 col-md-9   ">
                        <form class="products-sortby" method="get" action="#">
                            <div class="wrap-breadcrumb">
                                <div class="ordering">
                                    <div class="float-left">
                                        <span class="product-grid col"></span>
                                        <span class="product-list list"></span>
                                        @*<p class="result-count">
                                                Showing 1 -
                                                20
                                                of 21 results
                                            </p>*@
                                    </div>
                                    <div class="float-right">
                                        <div class="order-by">
                                            <p>Sort by :</p>
                                            @if (Model.Products.Count > 0)
                                            {

                                                if (Model.PagingFilteringContext.AllowProductSorting)
                                                {


                                                    @Html.DropDownList("products-orderby", Model.PagingFilteringContext.AvailableSortOptions, new { @class = "orderby", onchange = "setLocation(this.value);" })

                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                       
                        <div  class="engoc-row-equal products ver2 grid_full engoj-ajaxload grid_sidebar hover-shadow furniture grid--uniform">
                            @Html.Widget("categorydetails_top", Model.Id)

                            @if (Model.Products.Count > 0)
                            {
                                <ul class="grid effect-1" id="grid">
                                    @foreach (var product in Model.Products)
                                    {
                                        <li class="grid-item">
                                            @Html.Partial("_ProductBoxCategory", product)
                                        </li>
                                    }
                                </ul>


                            }
                            @Html.Widget("categorydetails_after_featured_products", Model.Id)

                          
                            @{
                                var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
                            }
                            @*@if (!pager.IsEmpty())
                                {
                                    <div class="pager">
                                        @pager
                                    </div>
                                }*@
                            @Html.Widget("categorydetails_bottom", Model.Id)
                        </div>

                    </div>
                    <div id="secondary" class="widget-area col-xs-12 col-md-3  ">
                        @*@section Breadcrumb
                            {
                                @if (Model.DisplayCategoryBreadcrumb)
                                {
                                    @Html.Widget("categorydetails_after_breadcrumb", Model.Id)
                                }
                            }*@

                        @Html.Action("CategoryNavigation", "Catalog", new { currentCategoryId = currentCategoryId, currentProductId = currentProductId })
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


<script>
    $(document).ready(function () {
        $(".product-grid").click(function () {

            $(".product-list").removeClass("active");
            $(this).addClass("active");
            $(".products.grid_full").removeClass("list-item").addClass("ver2");
        });
        $(".product-list").click(function () {

            $(".product-grid").removeClass("active");

            $(this).addClass("active");
            $(".products.grid_full").removeClass("ver2").addClass("list-item");
        });


    });
</script>

<style>
    .grid-sizer,
    .grid-item {
        width: 33%;
    }

    .grid-item {
        float: left;
    }

        .grid-item img {
            display: block;
            max-width: 100%;
        }

    #category-product-list .grid li {
        width: 33.33%;
    }
</style>

<script>
    $(function () {
        $("#category-product-list aside").height($(window).height() - 100);
    });


</script>