﻿@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.Themes;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
    var themeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
}




@*slider*@

<div class="page-container" id="PageContainer">
    <main class="main-content" id="MainContent" role="main">

       @*slider*@
    <section class="section-slider-v9">
        <div class="container-full">
            <div id="slider-v6" class="slider-default slide-h9">

                <div class="slider-v6 style-slider-v3 slick-slide">
                    <img alt="Third slide" src="@string.Format("/Themes/{0}/Content/images/slider_h9_01.jpg", themeName)" class="img-responsive">
                    <div class="content-slider">
                        <p data-animation="fadeInLeft" data-delay="0.5s" class="" style="animation-delay: 0.5s;">Composters For Healthy Planet</p>
                        <h1 data-animation="fadeInLeft" data-delay="1s" class="" style="animation-delay: 1s;">PLANT BY TYPE</h1>
                        <div class="btn-web" data-animation="fadeInLeft" data-delay="1.2s" style="animation-delay: 1.2s;">
                            <a href="#" title="" tabindex="-1">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="slider-v6 style-slider-v1 slick-slide">
                    <img alt="Third slide" src="@string.Format("/Themes/{0}/Content/images/slider_h9_03.jpg", themeName)" class="img-responsive">
                    <div class="content-slider">
                        <p data-animation="fadeInRight" data-delay="0.5s" class="" style="animation-delay: 0.5s;">Composters For Healthy Planet</p>
                        <h1 data-animation="fadeInRight" data-delay="1s" class="" style="animation-delay: 1s;">PLANTS FOR HEALTHY</h1>
                        <div class="btn-web" data-animation="fadeInRight" data-delay="1.2s" style="animation-delay: 1.2s;">
                            <a href="#" title="" tabindex="-1">Shop Now</a>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>


        @*@Html.Widget("home_page_top")*@

        @*@Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })*@
        @*@Html.Widget("home_page_before_categories")*@
        @*@Html.Action("HomepageCategories", "Catalog")*@
        @Html.Widget("home_page_before_products")
        @Html.Action("HomepageProducts", "Product")
        @Html.Widget("home_page_before_best_sellers")
        @Html.Action("HomepageBestSellers", "Product")
        @*@Html.Widget("home_page_before_news")*@
        @*@Html.Action("HomePageNews", "News")*@
        @*@Html.Widget("home_page_before_poll")*@
        @*@Html.Action("HomePagePolls", "Poll")*@

        <div class="container">

        <div id="shopify-section-1514451274649" class="shopify-section index-section">
            <div data-section-id="1514451274649" data-section-type="section-newsletter-v2" style=" margin-bottom: 40px;">
                <div class="section-newsletter about-section-newsletter">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="newsletter-wrapper newsletter-v2" style="background-color: #f7f7f7;">
                                    <div class="container container-ver2">
                                        <div class="row">
                                            <div class="col-md-12">
                                                @Html.Action("NewsletterBox", "Newsletter")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="shopify-section-1513931428830" class="shopify-section index-section">
            <div data-section-id="1513931428830" data-section-type="section-policy-v2" style=" ">
                <div class="mb-30">
                    <section class="slider-show policy2">
                        <div class="container container-ver2">
                            <div class="shipping-v2 home3-shiping home4-shipping space-30">

                                <div class="col-md-3 col-sm-3 col-xs-6">

                                    <img src="~/Themes/Bonsai/Content/images/icon-shipping-1.png?v=1512185744" alt="policy">

                                    <h3>FREE SHIPPING</h3>
                                    <p>ON ORDER OVER BDT 6000</p>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-6">

                                    <img src="~/Themes/Bonsai/Content/images/icon-shipping-2.png?v=1512185752" alt="policy">

                                    <h3>SUPPORT</h3>
                                    <p>LIFE TIME SUPPORT</p>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-6">

                                    <img src="~/Themes/Bonsai/Content/images/icon-shipping-3.png?v=1512185760" alt="policy">

                                    <h3>HELP PARTNER</h3>
                                    <p>HELP ALL ASPECTS</p>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-6">

                                    <img src="~/Themes/Bonsai/Content/images/icon-shipping-4.png?v=1512185767" alt="policy">

                                    <h3>CONTACT WITH US</h3>
                                    <p>+880 1914 944 724</p>
                                </div>

                            </div>
                            <!-- End container -->
                        </div>
                    </section>
                </div>
            </div>
        </div>

        </div>
    </main>
</div>

@*@Html.Widget("home_page_bottom")*@

<div id="back-to-top" class="show">
    <i class="fa fa-long-arrow-up"></i>
</div>

<div id="shopify-section-footer" class="shopify-section">


    


</div>


<script>
    $(document).ready(function () {


        $('#slider-v6').slick({
            autoplay: true,
            autoplaySpeed: 3000
        });
    });
</script>