﻿@model ShoppingCartModel.GiftCardBoxModel
@using Nop.Web.Models.ShoppingCart;
@using Nop.Core.Infrastructure
@if (Model.Display)
{
    var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();

    <div class="giftcard-box">
        <div class="title">
            <strong>@T("ShoppingCart.GiftCardCouponCode")</strong>
        </div>
        <div class="hint">@T("ShoppingCart.GiftCardCouponCode.Tooltip")</div>
        <div class="coupon-code">
            <input name="giftcardcouponcode" id="giftcardcouponcode" type="text" class="gift-card-coupon-code" />
            <input type="submit" name="applygiftcardcouponcode" id="applygiftcardcouponcode" onclick="GiftCardBox.save($('#giftcardcouponcode').val()); return false;" value="@T("ShoppingCart.GiftCardCouponCode.Button")" class="button-2 apply-gift-card-coupon-code-button" />
        </div>
        @foreach (var item in Model.CustomProperties)
        {
        <div class="current-code">
            <span class="applied-giftcard-code">@string.Format(T("shoppingcart.giftcardcode.currentcode").Text, item.Key)</span>
            @*empty value (little hack for FormValueExistsAttribute)*@
            <input type="button" name="removegiftcard-@item.Key" id="removegiftcard-@item.Key" onclick="removeGiftCard('@item.Key'); return false; " value=" " title="@T("Common.Remove")" class="remove-gift-card-button" />

        </div>
        }
        @if (!String.IsNullOrEmpty(Model.Message))
        {
        <div class="@(Model.IsApplied ? "message-success" : "message-failure")">
            @Model.Message
        </div>
        }

    </div>
}
