﻿@{
    Layout = "";
}
@model ConfigurationModel
@using NopDestek.Plugin.Misc.SingleCheckout.Models;
@using Nop.Web.Framework;
@using Nop.Core.Domain.Catalog;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.OnePageCheckout):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.OnePageCheckout)
            @Html.ValidationMessageFor(model => model.OnePageCheckout)
         </td>
    </tr>

    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.ValidateAddress):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.ValidateAddress)
            @Html.ValidationMessageFor(model => model.ValidateAddress)
         </td>
    </tr>
        <tr>
        <td>
            
        </td>
        <td>
            <ul>
                <li>@T("Plugins.Misc.SingleCheckout.ZipValidateAddress1")</li>
                <li>@T("Plugins.Misc.SingleCheckout.ZipValidateAddress2")</li>
                <li>@T("Plugins.Misc.SingleCheckout.ZipValidateAddress3")</li>
            </ul>
        </td>
    </tr>



    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.AllowSavedAddress):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.AllowSavedAddress)
            @Html.ValidationMessageFor(model => model.AllowSavedAddress)
         </td>
    </tr>
        <tr>
        <td colspan="2">
            <button type="submit" name="save" value="save" class="k-button">Save</button>
            <input type="button" name="install-string-resources" class="k-button" value="@T("Admin.Configuration.Languages.Resources.Install")" onclick="location.href='@Url.RouteUrl("NopDestek.Plugin.Misc.SingleCheckout.InstallStringResources")'" />
        </td>
        </tr>
</table>
}