﻿@model NopDestek.Plugin.Misc.SingleCheckout.Models.OnePageCheckoutModel
@using Nop.Web.Models.Checkout
@using Nop.Core.Infrastructure.DependencyManagement
@using Nop.Core.Infrastructure
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@using NopDestek.Plugin.Misc.SingleCheckout
@using Nop.Web.Framework.Themes
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>
    ().GetStoreLocation();
    Html.AddScriptParts("~/Scripts/public.accordion.js");

    Html.AppendCssFileParts("~/Plugins/Misc.SingleCheckout/Content/style.css");
    Html.AppendScriptParts("~/Plugins/Misc.SingleCheckout/Scripts/single.onepagecheckout.js", true);
    


    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    }
    <div class="page-container" id="PageContainer">
        <main class="main-content" id="MainContent">
            <div id="shopify-section-cart-template" class="shopify-section">
                <div class="main-content">
                    <div id="checkout" class="page checkout-page checkout-container">

                        <div class="opc-wrapper">
                            <ol id="checkoutSteps" class="opc">
                                <li id="opc-billing" class="checkout-billing-address">
                                    <div class="step-title">@T("Checkout.BillingAddress")</div>
                                    <div id="checkout-step-shipping" class="step-content">

                                        <script type="text/javascript">
                        Billing.init('#co-billing-form', '@(storeLocation)Singlecheckout/OpcSaveBilling/', '@(storeLocation)Singlecheckout/OpcSaveOneBilling/');

                                        </script>
                                        <form id="co-billing-form" action="" class="form form-billing-address">
                                            <div id="checkout-billing-load" class="fieldset address">
                                                @Html.Action("OpcBillingForm", "Singlecheckout")
                                                @*billing address content will be loaded here*@
                                            </div>
                                        </form>

                                    </div>
                                </li>

                                
                                @if (Model.ShippingRequired)
                                {
                                <li id="opc-shipping_method" class="section" style="display:none">
                                    <div class="step-title">@T("Checkout.ShippingMethod")</div>
                                    <div id="checkout-step-shipping-method" class="step a-item">
                                        <form id="co-shipping-method-form" action="">
                                            <div id="checkout-shipping-method-load">
                                                @Html.Action("OpcShippingMethod", "Singlecheckout")
                                                @*shipping methods content will be loaded here*@
                                            </div>
                                            <script type="text/javascript">
										ShippingMethod.init('#co-shipping-method-form', '@(storeLocation)Singlecheckout/OpcSaveShippingMethod/');
                                            </script>
                                            <div class="wait" id="shipping-method-buttons-container">
                                                <span id="shipping-method-please-wait" class="please-wait shipping-wait" title="Please wait" style="display: none;"></span>
                                            </div>
                                        </form>
                                    </div>

                                </li>
                                }
                                

                                <li id="opc-payment_method" class="section checkout-payment-method">
                                    <div class="step-title">@T("Checkout.Paymentmethod")</div>
                                    <div id="checkout-step-payment-method" class="step a-item">
                                        <form action="" id="co-payment-method-form">
                                            <div id="checkout-payment-method-load">
                                                @Html.Action("OpcPaymentMethod", "Singlecheckout")
                                                @*payment methods content will be loaded here Payment is not required *@
                                            </div>
                                        </form>
                                        <script type="text/javascript">
                            PaymentMethod.init('#co-payment-method-form', '@(storeLocation)Singlecheckout/OpcSavePaymentMethod/');
                                        </script>
                                        <div class="wait" id="payment-method-buttons-container">
                                            <span class="please-wait payment-wait" id="payment-method-please-wait" title="Please wait" style="display: none;"></span>
                                        </div>
                                    </div>

                                    <div id="checkout-step-payment-info" class="step a-item">
                                        <form action="" id="co-payment-info-form">
                                            <div id="checkout-payment-info-load">
                                                @Html.Action("OpcPaymentInfo", "Singlecheckout")
                                                @*payment info content will be loaded here Payment is not required *@
                                            </div>
                                        </form>
                                        <script type="text/javascript">
                            PaymentInfo.init('#co-payment-info-form', '@(storeLocation)Singlecheckout/OpcSavePaymentInfo/');
                                        </script>
                                        <div class="buttons" id="payment-info-buttons-container">
                                            <span class="please-wait" id="payment-info-please-wait" title="Please wait" style="display: none;"></span>
                                        </div>
                                    </div>
                                </li>

                                <li id="opc-shipping" class="section checkout-shipping-address">
                                    @if (Model.ShippingRequired)
                                    {
                                    <div class="step-title">@T("Checkout.ShippingAddress")</div>

                                    <div id="checkout-step-shipping" class="step a-item">
                                        <script type="text/javascript">
								Shipping.init('#co-shipping-form', '@(storeLocation)Singlecheckout/OpcSaveShipping/', '@(storeLocation)Singlecheckout/OpcSaveOneShipping/');
                                        </script>
                                        <form action="" id="co-shipping-form">
                                            <div id="checkout-shipping-load">
                                                @Html.Action("OpcShippingForm", "Singlecheckout")
                                                @*shipping address content will be loaded here*@
                                            </div>
                                        </form>

                                    </div>

                                    }
                                </li>

                                
                            </ol>
                        </div>

                        <div id="opc-sidebar">
                            <div class="opc-block-summary">
                                <span data-bind="i18n: 'Order Summary'" class="title">Order Summary</span>
                                <div id="opc-confirm_order" class="section">


                                    <div id="checkout-step-confirm-order" class="step a-item">
                                        <div id="checkout-confirm-order-load">
                                            @Html.Action("OpcOrderInfo", "Singlecheckout")
                                            @*confirm order content will be loaded here*@
                                        </div>
                                        <script type="text/javascript">
                            ConfirmOrder.init('@(storeLocation)Singlecheckout/OpcConfirmOrder/', '@(storeLocation)checkout/completed/');
                                        </script>
                                        @*<div class="buttons" id="button-change">
                                            <input type="button" class="button-1 confirm-order-next-step-button" onclick="setLocation('@(Url.RouteUrl(" ShoppingCart"))')" value="@T(" Plugins.Misc.SingleCheckout.Common.")" />
                                        </div>*@
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="simple-checkout-confirm">
                                <div class="buttons" id="confirm-order-buttons-container">
                                    <input type="button" class="button-1 confirm-order-next-step-button" onclick="ConfirmOrder.save()" value="@T(" Common.Confirm")" />
                                    <span class="please-wait-confirmation" id="confirm-order-please-wait" style="display: none;">@T("Checkout.SubmittingOrder")</span>
                                </div>
                            </div>
                        </div>
                      
                   
                        <script type="text/javascript">
        Checkout.init('@(storeLocation)cart/');
        DiscountBox.init('', '@(storeLocation)Singlecheckout/ApplyDiscountCoupon/', '@(storeLocation)Singlecheckout/RemoveDiscountCoupon/');
        GiftCardBox.init('', '@(storeLocation)Singlecheckout/ApplyGiftCard/', '@(storeLocation)Singlecheckout/RemoveGiftCardCode/');
                        </script>
                    </div>
                </div>
            </div>
        </main>
    </div>

