﻿@model CheckoutBillingAddressModel
@using Nop.Web.Models.Checkout;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Core.Infrastructure;
@{
    var SettingsAllowSavedAddress = EngineContext.Current.Resolve<NopDestek.Plugin.Misc.SingleCheckout.SingleCheckoutSettings>();
}
<div class="checkout-data">
        @if (SettingsAllowSavedAddress.AllowSavedAddress)
        {
            if (Model.ExistingAddresses.Count > 0)
            {
               
                <div class="section select-billing-address">
                    <label for="billing-address-select">@T("Checkout.SelectBillingAddressOrEnterNewOne")</label>
                    <div>
                        <select name="billing_address_id" id="billing-address-select" class="address-select"
                            title=""  >
                            @foreach (var address in Model.ExistingAddresses)
                            {
                                var addressLine = "";
                                addressLine += address.FirstName;
                                addressLine += " " + address.LastName;
                                var LastAddress = (Model.ExistingAddresses.Last().Id == address.Id ? "selected" : "false");

                                if (Model.NewAddressPreselected)
                                {
                                    LastAddress = "false";
                                }
                                
                                if (address.StreetAddressEnabled && !String.IsNullOrEmpty(address.Address1))
                                {
                                    addressLine += ", " + address.Address1;
                                }
                                if (address.CityEnabled && !String.IsNullOrEmpty(address.City))
                                {
                                    addressLine += ", " + address.City;
                                }
                                if (address.StateProvinceEnabled && !String.IsNullOrEmpty(address.StateProvinceName))
                                {
                                    addressLine += ", " + address.StateProvinceName;
                                }
                                if (address.ZipPostalCodeEnabled && !String.IsNullOrEmpty(address.ZipPostalCode))
                                {
                                    addressLine += " " + address.ZipPostalCode;
                                }
                               
                                <option selected="@(LastAddress)"  value="@(address.Id)">@(addressLine)</option>
                               
                            }
                            <option value="" selected="@Model.NewAddressPreselected">@T("Checkout.NewAddress")</option>
                        </select>
                    </div>
                   
	            @if (!(Model.NewAddressPreselected))
                {
                    @Html.Partial("~/Plugins/Misc.SingleCheckout/Views/MiscCheckout/Checkout/SelectedBillingAddress.cshtml");
                    
                }

                </div>
                <div class="clear">
                </div>
            }
            @Html.Widget("op_checkout_billing_address_middle")
            <div id="billing-new-address-form">

                
                <div class="enter-address">
                    <div class="enter-address-body">
                @{
            var dataDictAddress = new ViewDataDictionary();
            //Merge ModelState (required for validation)
            dataDictAddress.ModelState.Merge(ViewData.ModelState);
            dataDictAddress.TemplateInfo.HtmlFieldPrefix = "BillingNewAddress";
                    @Html.Partial("_CreateOrUpdateAddress", Model.NewAddress, dataDictAddress)


                    var validationSummary = Html.ValidationSummary(true);
                    if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                    {
                        <div class="message-error">@validationSummary</div>
                    }

                    <div class="buttons" id="billing-buttons-container">
                        <input type="button" title="@T("Common.Continue.Billing")" class="button-1 new-address-next-step-button" onclick="Billing.save()" value="@T("Common.Continue.Billing")" />
                        <span class="please-wait" id="billing-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                    </div>
					
                }
                
                </div>
            </div>
        </div>
        <script>
            $('#billing-address-select').change(function () {
            
                Billing.newAddress(!this.value);
                $('#shippingoption-select').change();
                //ShippingMethod.save(this.value);
            });
        </script>


                if ((Model.ExistingAddresses.Count > 0) && !(Model.NewAddressPreselected))
                {
		 	    <script>Billing.newAddress(false);</script>
                }
        }
        else
        {
            <script>
                    $(document).ready(function () {
                        $('#checkout-billing-load input').change(function () {                            
                            myAddressBilling = false;
                        });

                    $('#checkout-billing-load select').change(function () {
                        myAddressBilling = false;
                        });
                    });
            </script>

            @Html.HiddenFor(model => model.NewAddress.Id)
           <div id="billing-new-address-form">
                <div class="enter-address">
                    <div class="enter-address-body">
                    @{
            var dataDictAddress = new ViewDataDictionary();
            //Merge ModelState (required for validation)
            dataDictAddress.ModelState.Merge(ViewData.ModelState);
            dataDictAddress.TemplateInfo.HtmlFieldPrefix = "BillingNewAddress";
                        @Html.Partial("_CreateOrUpdateAddress", Model.NewAddress, dataDictAddress)       
                        <div class="buttons" id="billing-buttons-container">
                        <input type="button" title="@T("Common.Accept.Billing")" class="button-1 new-address-next-step-button" onclick="Billing.saveone()" value="@T("Common.Accept.Billing")" id="ButtonBillingSaveOne"/>
                        <span class="please-wait" id="billing-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
                        </div>
                    }
                    </div>
                </div>
            </div>
        }
</div>
