﻿@model CheckoutConfirmModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.Common;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
<div class="checkout-data">
    @Html.Widget("op_checkout_confirm_top")
    <div class="section confirm-order">
    <div>
        @if (!String.IsNullOrEmpty(Model.MinOrderTotalWarning))
        {
            <span class="min-order-warning">@Model.MinOrderTotalWarning</span>
        }
    </div>
    @if (Model.Warnings.Count > 0)
    {
        
        <div class="message-error">
            <ul>
                @for (int i = 0; i < Model.Warnings.Count; i++)
                {
                    <li>@Model.Warnings[i]</li>
                }
            </ul>
        </div>
    }
    </div>
    @Html.Widget("op_checkout_confirm_bottom")
    <div class="clear">
    </div>
    <div class="order-summary-body">
      @*   @Html.Action("OrderSummary", "ShoppingCart", new { prepareAndDisplayOrderReviewData = false }) *@
        @Html.Action("OrderSummary", "SingleCheckout", new RouteValueDictionary() { { "Namespaces", "Nop4you.Plugin.Misc.SingleCheckout.Controllers" }, { "area", "" } })
    </div>
</div>
