﻿@model CheckoutPaymentMethodModel
@using Nop.Web.Models.Checkout;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;

<div class="checkout-data">
    @Html.Widget("op_checkout_payment_method_top")
    <div class="section payment-method">
   
    @if (Model.PaymentMethods.Count > 0)
    {
        <div class="method-name">
            <label>@T("Plugins.Misc.SingleCheckout.Checkout.PaymentMethod"):</label>
            <select name="paymentoption_id" id="paymentoption-select" class="paymentoption-select" >
                @for (int i = 0; i < Model.PaymentMethods.Count; i++)
                {
                    var paymentMethod = Model.PaymentMethods[i];
                    <option id="paymentmethod_@(i)" value="@(paymentMethod.PaymentMethodSystemName)"
                            @(paymentMethod.Selected ? "selected": "")>@paymentMethod.Name</option>
                }
             </select>
        </div>
    if (Model.DisplayRewardPoints && Model.PaymentMethods.Count > 0)
    {
        <div class="use-reward-points">
            <input id="UseRewardPoints" name="UseRewardPoints" onclick="PaymentMethod.save($('#paymentoption-select').val());" type="checkbox" value="true">
            <label for="UseRewardPoints">@string.Format(T("Checkout.UseRewardPoints").Text, Model.RewardPointsBalance, Model.RewardPointsAmount)</label>
            <input name="UseRewardPoints" type="hidden" value="false">
        </div>
        <div class="clear">
        </div>
    }

            <script>
                $('#paymentoption-select').change(function () {                    
                    PaymentMethod.save(this.value);
                });
                
            </script>
        
    }
        else
        {
            <div class="clear">
            </div>
        }
    </div>
    @Html.Widget("op_checkout_payment_method_bottom")
</div>
