﻿@model CheckoutPaymentInfoModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.Common;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@{
	var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();
}
<div class="checkout-data">
    @Html.Widget("op_checkout_payment_info_top")
    <div class="section payment-info">        
        <div class="info">
            @Html.Action(Model.PaymentInfoActionName, Model.PaymentInfoControllerName, Model.PaymentInfoRouteValues)
        </div>
    </div>
    <div class="clear">
    </div>
	@*
    <div class="message-error">
        @Html.ValidationSummary(false)
    </div>
	*@
    @Html.Widget("op_checkout_payment_info_bottom")
    @if (Model.DisplayOrderTotals)
    {
        <div class="clear">
        </div>
        <div class="order-summary-body">
            @Html.Action("OrderSummary", "ShoppingCart")
        </div>
    }
   
	
</div>
