﻿@model SingleCheckoutShippingAddressModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.Common;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using NopDestek.Plugin.Misc.SingleCheckout.Models;
@using Nop.Core.Infrastructure;
@{
    var SettingsAllowSavedAddress = EngineContext.Current.Resolve<NopDestek.Plugin.Misc.SingleCheckout.SingleCheckoutSettings>();
}

<div class="sameasBillingAddress">
    @{
        if (Model.CanCheck)
        {
            @Html.EditorFor(model => model.SameAsBillingAddress)
            <label for="SameAsBillingAddress">@T("Plugins.Misc.SingleCheckout.Checkout.ShippingAddresAsBillingAddreess")</label>
        }
        else
        {
            @Html.CheckBoxFor(model => model.SameAsBillingAddress, new { disabled = "disabled", @readonly = "readonly" })
            <label for="SameAsBillingAddress"> @T("Plugins.Misc.SingleCheckout.Checkout.ShippingAddresAsBillingAddreess") </label>
        }
    }
</div>

<script>
   
    $('#SameAsBillingAddress').change(function () {
        if (!this.checked) {
            $('#SingleshippingAddress').fadeIn('slow');
            myAddressShipping = true;
        }
        else {
            $('#SingleshippingAddress').fadeOut('slow');
            myAddressShipping = true;
        }
    });
</script>


<div id="SingleshippingAddress" @(Model.SameAsBillingAddress ? "style=display:none;" : "style=display:block;")>
<div class="checkout-data">
@if (SettingsAllowSavedAddress.AllowSavedAddress)
{
            @Html.Widget("op_checkout_shipping_address_top")
            if (Model.ExistingAddresses.Count > 0)
            {
                <div class="section select-shipping-address"> 
                    <label for="shipping-address-select">@T("Checkout.SelectShippingAddressOrEnterNewOne")</label>
                    <div>
                        <select name="shipping_address_id" id="shipping-address-select" class="address-select"
                            title="" >
                            @foreach (var address in Model.ExistingAddresses)
                            {
                                var addressLine = "";
                                addressLine += address.FirstName;
                                addressLine += " " + address.LastName;
                                string LastAddress = "";
                                if (Model.NewAddressPreselected)
                                {
                                    LastAddress = "";
                                }
                                if (Model.SameAsBillingAddress)
                                {
                                    LastAddress = Model.idBillingAddress == address.Id ? "selected" : "";
                                }
                                else
                                {
                                    LastAddress = (Model.ExistingAddresses.Last().Id == address.Id ? "selected" : "");
                                }

                                if (address.StreetAddressEnabled && !String.IsNullOrEmpty(address.Address1))
                                {
                                    addressLine += ", " + address.Address1;
                                }
                                if (address.CityEnabled && !String.IsNullOrEmpty(address.City))
                                {
                                    addressLine += ", " + address.City;
                                }
                                if (address.StateProvinceEnabled && !String.IsNullOrEmpty(address.StateProvinceName))
                                {
                                    addressLine += ", " + address.StateProvinceName;
                                }
                                if (address.ZipPostalCodeEnabled && !String.IsNullOrEmpty(address.ZipPostalCode))
                                {
                                    addressLine += " " + address.ZipPostalCode;
                                }
                                <option @(LastAddress == "selected" ? "selected=\"selected\" " : "") value="@(address.Id)">@(addressLine)</option>
                            }
                            <option value="" selected="@Model.NewAddressPreselected">@T("Checkout.NewAddress")</option>
                        </select>
                    </div>
                </div>
                <div class="clear">
                </div>
                <script>
                    $('#shipping-address-select').change(function () {
                        Shipping.newAddress(!this.value);
                        $('#shippingoption-select').change();
                    });
                </script>

            }
            @Html.Widget("op_checkout_shipping_address_middle")
            <div id="shipping-new-address-form">
                <div class="enter-address">
                    <div class="enter-address-body">

                @{
            var dataDictAddress = new ViewDataDictionary();
            //Merge ModelState (required for validation)
            dataDictAddress.ModelState.Merge(ViewData.ModelState);
            dataDictAddress.TemplateInfo.HtmlFieldPrefix = "ShippingNewAddress";
                    @Html.Partial("_CreateOrUpdateAddress", Model.NewAddress, dataDictAddress)
                    var validationSummary = Html.ValidationSummary(true);
                    if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                    {
                        <div class="message-error">@validationSummary</div>
                    }
					<div class="buttons" id="shipping-buttons-container">
						<p class="back-link">
                        <input type="button" class="button-1 new-address-next-step-button" title="@T("Common.Continue.Shipping")" onclick="Shipping.save()" value="@T("Common.Continue.Shipping")" />
                        <span id="shipping-please-wait" class="please-wait" style="display: none;"> @T("Common.LoadingNextStep")</span>
                    </div>
					
                }
            </div>
        </div>
    </div>
		if ((Model.ExistingAddresses.Count > 0) && !(Model.NewAddressPreselected))
        {
		 	 <script>Shipping.newAddress(false);</script>
        }
            @Html.Widget("op_checkout_shipping_address_bottom")

}
else
{
    if (Model.SameAsBillingAddress)
        {
		 	 <script>myAddressShipping = true;</script>
        }
     <script>

         $(document).ready(function () {
             $('#checkout-shipping-load input').change(function () {
                 myAddressShipping = false;
             });

             $('#checkout-shipping-load select').change(function () {
                 myAddressShipping = false;
             });
         });

    </script>
                <div id="shipping-new-address-form">
                <div class="enter-address">
                    <div class="enter-address-body">

                @{
    var dataDictAddress = new ViewDataDictionary();
    //Merge ModelState (required for validation)
    dataDictAddress.ModelState.Merge(ViewData.ModelState);
    dataDictAddress.TemplateInfo.HtmlFieldPrefix = "ShippingNewAddress";
                    @Html.Partial("_CreateOrUpdateAddress", Model.NewAddress, dataDictAddress)   
					<div class="buttons" id="shipping-buttons-container">
						<p class="back-link">
                        <input type="button" class="button-1 new-address-next-step-button" title="@T("Common.Accept.Shipping")" onclick="Shipping.saveone()" value="@T("Common.Accept.Shipping")" />
                        <span id="shipping-please-wait" class="please-wait" style="display: none;"> @T("Common.LoadingNextStep")</span>
                    </div>
					
                }
            </div>
        </div>
    </div>
}

</div>
</div> 