﻿@model CheckoutShippingMethodModel
@using Nop.Web.Models.Checkout;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;

@if(Model.ShippingMethods.Count > 0)
{
<div class="checkout-data">
    @Html.Widget("op_checkout_shipping_method_top")
    <div class="section shipping-method">
        @if (Model.Warnings.Count == 0)
        {
            <div class="method-name">
                <label>@T("Plugins.Misc.SingleCheckout.Checkout.ShippingMethod"):</label>
               <select name="shippingoption_id" id="shippingoption-select" class="shippingoption-select" >
                @for (int i = 0; i < Model.ShippingMethods.Count; i++)
                {                    
                    var shippingMethod = Model.ShippingMethods[i];                    
                    <option selected="@shippingMethod.Selected" id="shippingoption_@(i)" value="@(shippingMethod.Name)___@(shippingMethod.ShippingRateComputationMethodSystemName)">@(shippingMethod.Name)</option>
                }
                </select>
             </div>
            
            <script>
                $('#shippingoption-select').change(function () {
                    
                    ShippingMethod.save(this.value);
                });
                
            </script>
            
            
            
        }
        else
        {
            <div class="clear">
            </div>
            <div class="message-error">
                <ul>
                    @for (int i = 0; i < Model.Warnings.Count; i++)
                    {
                        <li>@Model.Warnings[i]</li>
                    }
                </ul>
            </div>
        }
    </div>
    @Html.Widget("op_checkout_shipping_method_bottom")
</div>
}