@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart;
@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Web.Extensions;

@{
    var webHelper = EngineContext.Current.Resolve<IWebHelper>();
}

<div class="order-summary-content">
    @Html.Widget("order_summary_content_before")
    @Html.Partial("~/Plugins/Misc.SingleCheckout/Views/MiscCheckout/Checkout/_OrderReviewData.cshtml", Model.OrderReviewData)
    @if (Model.Items.Count > 0)
    {
        if (Model.Warnings.Count > 0)
        {
            <div class="message-error">
                <ul>
                    @foreach (var warning in Model.Warnings)
                    {
                        <li>@warning</li>
                    }
                </ul>
            </div>
        }
        @*we add enctype = "multipart/form-data" because "File upload" attribute control type requires it*@
    using (Html.BeginRouteForm("SingleCheckoutShoppingCart", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="cart-footer">
            @Html.Widget("order_summary_cart_footer")
            @if (Model.IsEditable)
            {
                <div class="cart-collaterals" style="display:none">
                    <div class="deals">
                        @Html.Partial("~/Plugins/Misc.SingleCheckout/Views/MiscCheckout/Checkout/_DiscountBox.cshtml", Model.DiscountBox)
                        @Html.Partial("~/Plugins/Misc.SingleCheckout/Views/MiscCheckout/Checkout/_GiftCardBox.cshtml", Model.GiftCardBox)
                        @Html.Widget("order_summary_content_deals")
                    </div>
                </div>
            }
            <div class="totals">
                @Html.Action("OrderTotals", "ShoppingCart", new { isEditable = false })
                @if (Model.IsEditable)
                {
                    if (!String.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                    {
                        <div class="min-amount-warning">
                            @Model.MinOrderSubtotalWarning
                        </div>
                    }
                }
            </div>
        </div>
        <div class="table-wrapper">
            <div class="block items-in-cart active">
                <div class="content minicart-items">
                    <div class="minicart-items-wrapper overflowed">
                        <ol class="minicart-items">
                            @foreach (var item in Model.Items)
                            {
                                <li class="product-item">
                                    <div class="product">
                                        <span class="product-image-container">
                                            <span class="product-image-wrapper">
                                                <a href="@Url.RouteUrl("Product", new { SeName=item.ProductSeName })"><img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" /></a>
                                            </span>
                                        </span>
                                        <div class="product-item-details">
                                            <div class="product-item-inner">
                                                <div class="product-item-name-block">
                                                    <strong class="product-item-name">
                                                        <a href="@Url.RouteUrl("Product", new { SeName=item.ProductSeName })" class="product-name">@item.ProductName</a>
                                                    </strong>
                                                    <div class="details-qty">
                                                        <span class="label"><span>@T("ShoppingCart.Quantity")</span></span>
                                                        @if (Model.IsEditable)
                                                        {
                                                            if (item.AllowedQuantities.Count > 0)
                                                            {
                                                                <select name="itemquantity@(item.Id)" class="qty-dropdown">
                                                                    @foreach (var qty in item.AllowedQuantities)
                                                                    {
                                                                        <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                                    }
                                                                </select>
                                                            }
                                                            else
                                                            {
                                                                <input name="itemquantity@(item.Id)" type="text"  value="@(item.Quantity)" class="qty-input input-text qty" disabled />
                                                            }

                                                        }
                                                        else
                                                        {
                                                            <span class="product-quantity">@item.Quantity</span>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="subtotal">

                                                    <span class="price-excluding-tax">
                                                        <span class="cart-price">
                                                            <span class="price">@item.SubTotal</span>
                                                            @if (Model.IsEditable)
                                                            {
                                                                <input type="checkbox" name="removefromcart" class="removefromcart" value="@(item.Id)" />


                                                                <p class="remove">Remove</p>
                                                            }
                                                        </span>
                                                    </span>
                                                    <!-- /ko -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }

                        </ol>
                    </div>
                </div>
            </div>

           
        </div>
        if (Model.IsEditable && Model.Items.Count > 0 && Model.DisplayTaxShippingInfo)
        {
            var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
            //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
            //of course, you can modify appropriate locales to include VAT info there
            <div class="tax-shipping-info">
                @T(inclTax ? "ShoppingCart.TaxShipping.InclTax" : "ShoppingCart.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
            </div>
        }
        <div class="cart-options">
            @if (Model.IsEditable)
            {
                <div class="common-buttons" style="padding-top:10px;">
                    <input type="submit" name="updatecart" value="@T("ShoppingCart.UpdateCart")" class="button-1 update-cart-button" />
                </div>
            }

            @if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
            {
                <div class="selected-checkout-attributes" style="display:none;">
                    @Html.Raw(Model.CheckoutAttributeInfo)
                </div>
            }
        </div>


        }
    }
    else
    {
        <div class="no-data">
            @T("ShoppingCart.CartIsEmpty")
        </div>
    }
    @Html.Widget("order_summary_content_after")
</div>

<script>
    $(document).ready(function () {
        $(".remove").click(function () {
          
            var parentEl = $(this).parent();
            
            parentEl.find(".removefromcart").click(function () {
               
                if (this.checked) {
                    
                    $(".button-1.update-cart-button").click();
                }
            });
            parentEl.find(".removefromcart").click();
        });
    });
</script>