﻿@using Nop.Web.Framework;
@using Nop.Web.Framework.UI;
@using Nop.Core.Domain.Customers;
@{
    Layout = "";
    var workContext = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.IWorkContext>();
    var addressAttributeFormatter = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Services.Common.IAddressAttributeFormatter>();
    var billingAddress = workContext.CurrentCustomer.BillingAddress;
    var addressSettings = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Core.Domain.Common.AddressSettings>();
    var editButton = workContext.CurrentCustomer.IsRegistered();

}
<div class="enter-address" id="BillingselectedAddress">
    @if (billingAddress != null)
    {
        <div class="section address-item">

            <ul class="info">
                <li class="name">
                    <div class="title">
                        <strong>@billingAddress.FirstName @billingAddress.LastName</strong>
                    </div>
                </li>
                <li class="email">
                    @Html.Label("billingAddressEmail", T("Plugins.Misc.SingleCheckout.billingAddress.Email").Text)
                    @billingAddress.Email
                </li>
                @if (addressSettings.PhoneEnabled && !String.IsNullOrEmpty(billingAddress.PhoneNumber))
                {
                    <li class="phone">
                        @Html.Label("billingAddressPhoneNumber", T("Plugins.Misc.SingleCheckout.billingAddress.PhoneNumber").Text)
                        @billingAddress.PhoneNumber
                    </li>
                }
                @if (addressSettings.FaxEnabled && !String.IsNullOrEmpty(billingAddress.FaxNumber))
                {
                    <li class="fax">
                        @Html.Label("billingAddressFaxNumber", T("Plugins.Misc.SingleCheckout.billingAddress.FaxNumber").Text)
                        @billingAddress.FaxNumber
                    </li>
                }
                @if (addressSettings.CompanyEnabled && !String.IsNullOrEmpty(billingAddress.Company))
                {
                    <li class="company">
                        @Html.Label("billingAddressCompany", T("Plugins.Misc.SingleCheckout.billingAddress.Company").Text)
                        @billingAddress.Company
                    </li>
                }
                @if (addressSettings.StreetAddressEnabled)
                {
                    <li class="address1">
                        @billingAddress.Address1
                    </li>
                }
                @if (addressSettings.StreetAddress2Enabled && !String.IsNullOrEmpty(billingAddress.Address2))
                {
                    <li class="address2">
                        @billingAddress.Address2
                    </li>
                }
                @if (addressSettings.CityEnabled || addressSettings.StateProvinceEnabled || addressSettings.ZipPostalCodeEnabled)
                {
                    var cityStateZip = "";
                    if (addressSettings.CityEnabled)
                    {
                        cityStateZip = billingAddress.City;
                        if (addressSettings.StateProvinceEnabled || addressSettings.ZipPostalCodeEnabled)
                        {
                            cityStateZip += ",";
                        }
                    }
                    if (addressSettings.StateProvinceEnabled)
                    {
                        if (!String.IsNullOrEmpty(cityStateZip))
                        {
                            cityStateZip += " ";
                        }
                        if (billingAddress.StateProvince != null)
                        {
                            cityStateZip += billingAddress.StateProvince.Name;
                        }
                    }
                    if (addressSettings.ZipPostalCodeEnabled)
                    {
                        if (!String.IsNullOrEmpty(cityStateZip))
                        {
                            cityStateZip += " ";
                        }
                        cityStateZip += billingAddress.ZipPostalCode;
                    }

                    <li class="city-state-zip">
                        @cityStateZip
                    </li>
                }
                @if (addressSettings.CountryEnabled && billingAddress.Country != null)
                {
                    <li class="country">
                        @billingAddress.Country.Name
                    </li>
                }

                @if (!String.IsNullOrEmpty(billingAddress.CustomAttributes))
                {
                    var customAttributes = addressAttributeFormatter.FormatAttributes(billingAddress.CustomAttributes);
                    <li class="custom-attributes-view">
                        @Html.Raw(customAttributes)
                    </li>
                }

            </ul>
            @if (editButton)
            {
                <div class="buttons">
                    <input type="button" class="button-1 save-address-button" onclick="location.href='@(Url.RouteUrl("CustomerAddressEdit", new { addressId = billingAddress.Id }))'" value='@T("Common.Edit")' />
                </div>
            }
        </div>
    }
</div>