﻿@using Nop.Web.Models.Checkout
@using Nop.Core.Infrastructure.DependencyManagement
@using Nop.Core.Infrastructure
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@using NopDestek.Plugin.Misc.SingleCheckout
@using Nop.Web.Framework.Themes
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}

<div class="page checkout-page">
    <div class="page-title">
        <h1>@T("Checkout")</h1>
    </div>
    <div class="page-body checkout-data">
        <strong><text>PLUGIN ONE PAGE CHECKOUT TRIAL VERSION  (NopDestek.com) - PLEASE REFRESH WEBSITE TO WORK</text></strong>
    </div>
</div>
