﻿@model ProductDetailsModel.AddToCartModel
@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Orders;
@if (Model.UpdatedShoppingCartItemId > 0)
{
    @Html.HiddenFor(x => x.UpdatedShoppingCartItemId)
}
@if (!Model.DisableBuyButton || Model.CustomerEntersPrice)
{
    <div class="options">
        <div class="box space-30">
            <div class="selector-wrapper-quantity qtys">
                <div class="title">
                    <h3>Quantity</h3>
                </div>
                <div class="js-qty">
                    @if (!Model.DisableBuyButton)
                    {
                        if (Model.AllowedQuantities.Count > 0)
                        {
                            @Html.DropDownListFor(model => model.EnteredQuantity, Model.AllowedQuantities, new { @class = "qty-dropdown" })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.EnteredQuantity, new { @class = "qty-input" })
                            //when a customer clicks 'Enter' button we submit the "add to cart" button (if visible)
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $("#@Html.FieldIdFor(model => model.EnteredQuantity)").keydown(function (event) {
                                        if (event.keyCode == 13) {
                                            $("#add-to-cart-button-@Model.ProductId").click();
                                            return false;
                                        }
                                    });
                                });
                            </script>
                        }
                    }
                </div>

                
            </div>
        </div>
        @{
            var addToCartText = "";
            if (Model.UpdatedShoppingCartItemId > 0 && Model.UpdateShoppingCartItemType.HasValue && Model.UpdateShoppingCartItemType.Value == ShoppingCartType.ShoppingCart)
            {
                addToCartText = T("ShoppingCart.AddToCart.Update").Text;
            }
            else
            {
                addToCartText = T("ShoppingCart.AddToCart").Text;
                if (Model.IsRental)
                {
                    addToCartText = T("ShoppingCart.Rent").Text;
                }
                if (Model.AvailableForPreOrder)
                {
                    addToCartText = T("ShoppingCart.PreOrder").Text;
                }
            }
            <div class="action">
                <button id="add-to-cart-button-@Model.ProductId" class="link-v1 add-cart bg-brand btn-addtocart-b enj-add-to-cart-btn btn-cart add-to-cart-button" type="button" data-productid="@Model.ProductId" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = Model.ProductId, shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart })', '#product-details-form');return false;">
                    @addToCartText
                </button>
                <a href="javascript:void(0)" class="wish" title="Add to Wishlist"></a>
            </div>
            

        }
    </div>
                                    @*<div class="add-to-cart">
                                            @if (Model.CustomerEntersPrice)
                                            {
                                                <div class="customer-entered-price">
                                                    <div class="price-input">
                                                        @Html.LabelFor(model => model.CustomerEnteredPrice, new { @class = "enter-price-label" }, ":")

                                                        @Html.TextBox("CustomerEnteredPrice", Convert.ToInt32(Math.Ceiling(Model.CustomerEnteredPrice)), new { @class = "enter-price-input" })
                                                    </div>
                                                    <div class="price-range">
                                                        @Model.CustomerEnteredPriceRange
                                                    </div>
                                                </div>
                                            }
                                            @if (!String.IsNullOrEmpty(Model.MinimumQuantityNotification))
                                            {
                                                <div class="min-qty-notification">@Model.MinimumQuantityNotification</div>
                                            }

                                            @Html.Widget("productdetails_add_info", Model.ProductId)
                                        </div>*@
                    }

<script>
    $(document).ready(function () {
        $("a.wish").click(function () {
            $(".add-to-wishlist-button").click();
        })
    })
</script>