﻿@model ProductDetailsModel.ProductBreadcrumbModel
@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@{
    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
}
@if (Model.Enabled)
{
    <p itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="@Url.RouteUrl("HomePage")" title="Back to the frontpage">Home</a>
        @*<i class="fa fa-caret-right"></i>*@
        <span class="delimiter">@breadcrumbDelimiter</span>
        @foreach (var category in Model.CategoryBreadcrumb)
        {
            
            <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })" itemprop="url">
                @category.Name
            </a>
               
        }
        <span class="delimiter">@breadcrumbDelimiter</span>
        <strong class="current-item">@Model.ProductName</strong>
    </p>
   

}