﻿@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;

@if (Model.Count > 0)
{



    <div id="shopify-section-1500433372146" class="shopify-section index-section" style="padding-top:20px;">
        <div class="collection-tab-v1">
            <div class="container">
                <div class="title-text-v2">
                    <h3>Lastest Products</h3>
                </div>
                <div class="featured-products home_2 new-arrivals lastest">
                    <div class="tab-container space-10">
                        <div class="tab-content active">
                            <div class="products hover-shadow ver2">
                                @foreach (var item in Model)
                                {
                                    @Html.Partial("_ProductBox", item)
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="title">
            <strong>@T("HomePage.Products")</strong>
        </div>*@
        @*<div class="item-grid">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    @Html.Partial("_ProductBox", item)
                </div>
            }
        </div>*@
    </div>
}