﻿@model ProductDetailsModel
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_ColumnsOneCommon.cshtml";

    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-product-details-page");

    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
    }
}
<!--product breadcrumb-->
@section Breadcrumb
{
    
}
@Html.Widget("productdetails_after_breadcrumb", Model.Id)

<div class="page-container" id="PageContainer">
    <div class="main-content" id="MainContent">
        <div id="shopify-section-product-template" class="shopify-section">
            <div class="main-content" itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
                <div class="container">
                    <div class="banner-header-cart" style="padding-left: 0px;">
                        <div class="text">
                            @Html.Partial("_ProductBreadcrumb", Model.Breadcrumb)
                            @*<p>
                                <a href="/" title="Back to the frontpage">Home</a>
                                <a href="/" title="Back to the frontpage">Home2</a>
                                <i class="fa fa-caret-right"></i>
                                Zantedeschia Calla
                            </p>*@
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="page product-details-content product-details-page">
                        
                     
                            
                            @Html.Widget("productdetails_top", Model.Id)
                            @using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
                            {
                                <div class="col-md-5 col-sm-5">
                                    <!--product pictures-->
                                    @Html.Partial("_ProductDetailsPictures", Model)
                                </div>
                                <div class="col-md-7 col-sm-7">
                                    <div class="box-details-info">
                                        <div class="product-name">
                                            <h1 itemprop="name">
                                                @Model.Name
                                            </h1>
                                        </div>
                                        @Html.Partial("_ProductReviewOverview", Model.ProductReviewOverview)
                                        <!--attributes-->
                                       
                                        @{
                                            var dataDictPrice = new ViewDataDictionary();
                                            dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);
                                            @Html.Partial("_ProductPrice", Model.ProductPrice, dataDictPrice)
                                        }

                                        @{
                                            var dataDictAttributes = new ViewDataDictionary();
                                            dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
                                            @Html.Partial("_ProductAttributes", Model.ProductAttributes, dataDictAttributes)
                                        }
                                    </div>
                                    <!--availability-->
                                    @Html.Partial("_Availability", Model)
                                    
                                    @{
                                        var dataDictAddToCart = new ViewDataDictionary();
                                        dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                                        @Html.Partial("_AddToCart", Model.AddToCart, dataDictAddToCart)
                                    }
                                    <div class="accordion box space-100">
                                        <div class="accordion accordion-v2">
                                            <div class="panel-group" id="accordion-v2">

                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-One" aria-expanded="true" class="">
                                                                Description
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse-v2-One" class="panel-collapse active collapse in" style="height: auto;">
                                                        <div class="panel-body">
                                                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.Pellentesque habitant morbi tristique senectus et netus et malesuada teges tas. Vestibulum tortor quam, feugiat vitae, Mauris placerat eleifend leo.</p>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-Two" aria-expanded="false">
                                                                custom tab
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse-v2-Two" class="panel-collapse collapse" style="height: 0px;">
                                                        <div class="panel-body">
                                                            <p>
                                                                <span>Brand</span>
                                                                <span>Hong Quat Packging</span>
                                                            </p>
                                                            <p>
                                                                <span>Kg</span>
                                                                <span>54g</span>
                                                            </p>
                                                            <p>
                                                                <span>Calo</span>
                                                                <span>36 Calo</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-v2" href="#collapse-v2-Three" aria-expanded="false">
                                                                Review
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse-v2-Three" class="panel-collapse collapse" itemtype="http://schema.org/Review" itemscope="">
                                                        <div id="customer">
                                                            <div id="shopify-product-reviews" data-id="37277499409">
                                                                

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                      <div class="product-essential" style="display:none;">
                                        @Html.Widget("productdetails_before_pictures", Model.Id)
                                        
                                        @Html.Widget("productdetails_after_pictures", Model.Id)
                                        <div class="overview">
                                            @Html.Partial("_Discontinued", Model)
                                           
                                            @if (!String.IsNullOrEmpty(Model.ShortDescription))
                                            {
                                                <div class="short-description">
                                                    @Html.Raw(Model.ShortDescription)
                                                </div>
                                            }
                                            @Html.Widget("productdetails_overview_top", Model.Id)
                                            <!--product reviews-->
                                            
                                            <!--manufacturers-->
                                            @Html.Partial("_ProductManufacturers", Model.ProductManufacturers)
                                            
                                            <!--SKU, MAN, GTIN, vendor-->
                                            @Html.Partial("_SKU_Man_GTIN_Ven", Model)
                                            <!--delivery-->
                                            @Html.Partial("_DeliveryInfo", Model)
                                            <!--sample download-->
                                            @Html.Partial("_DownloadSample", Model)
                                            
                                            <!--gift card-->
                                            @{
                                                var dataDictGiftCard = new ViewDataDictionary();
                                                dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = string.Format("giftcard_{0}", Model.Id);
                                                @Html.Partial("_GiftCardInfo", Model.GiftCard, dataDictGiftCard)
                                            }
                                            <!--rental info-->
                                            @{
                                                var dataDictRental = new ViewDataDictionary();
                                                dataDictRental.TemplateInfo.HtmlFieldPrefix = string.Format("rental_{0}", Model.Id);
                                                @Html.Partial("_RentalInfo", Model, dataDictRental)
                                            }
                                            <!--price & add to cart-->
                                            @{
                                                @Html.Partial("_ProductTierPrices", Model.TierPrices)
                                            }
                                            <!--wishlist, compare, email a friend-->
                                            <div class="overview-buttons">
                                                @Html.Widget("productdetails_inside_overview_buttons_before", Model.Id)
                                                @{
                                                    var dataDictAddToWishlist = new ViewDataDictionary();
                                                    dataDictAddToWishlist.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                                                    @Html.Partial("_AddToWishlist", Model.AddToCart, dataDictAddToWishlist)
                                                }
                                                @Html.Partial("_CompareProductsButton", Model)
                                                @Html.Partial("_ProductEmailAFriendButton", Model)
                                                @Html.Widget("productdetails_inside_overview_buttons_after", Model.Id)
                                            </div>
                                            @Html.Partial("_ShareButton", Model)
                                            @Html.Widget("productdetails_overview_bottom", Model.Id)
                                        </div>
                                        @if (!String.IsNullOrEmpty(Model.FullDescription))
                                        {
                                            <div class="full-description" itemprop="description">
                                                @Html.Raw(Model.FullDescription)
                                            </div>
                                        }
                                    </div>
                                    @Html.Widget("productdetails_before_collateral", Model.Id)
                                    <div class="product-collateral">
                                        @Html.Partial("_ProductSpecifications", Model.ProductSpecifications)
                                        @Html.Partial("_ProductTags", Model.ProductTags)
                                    </div>
                                    @*@Html.Action("ProductsAlsoPurchased", "Product", new { productId = Model.Id })
                                    @Html.Action("RelatedProducts", "Product", new { productId = Model.Id })*@
                         
                                                   
                                </div>



                                                    }
                            @Html.Widget("productdetails_bottom", Model.Id)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

