﻿@model LoginModel
@using Nop.Web.Models.Customer;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_ColumnsOneAccount.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);
    //page class
    Html.AppendPageCssClassParts("html-login-page");

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register");
    if (!String.IsNullOrEmpty(this.Context.Request.QueryString["returnUrl"]))
    {
        var webHelper = EngineContext.Current.Resolve<IWebHelper>();
        registerUrl = webHelper.ModifyQueryString(registerUrl, "returnurl=" + HttpUtility.UrlEncode(this.Context.Request.QueryString["returnUrl"]), null);
    }
}

<div class="container">
    <div class="banner-header banner-lbook3 space-30">
        <img src="~/Themes/Bonsai/Content/images/header-collection-page.jpg" alt="Banner-header">
        <div class="text">
            <h3>
                Login
            </h3>
            <p>
                <a href="/" title="Back to the frontpage">Home</a>
                <i class="fa fa-caret-right"></i>
                Login
            </p>
        </div>
    </div>
</div>


<div class="page-width page-login login-page">
    <div class="grid">
        <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
            <div class="form-vertical" id="CustomerLoginForm">

                @using (Html.BeginForm())
                {
                    <h3>Login</h3>
                    <p>Hello, welcome to your account</p>
                    var validationSummary = Html.ValidationSummary(true, T("Account.Login.Unsuccessful").Text);
                    
                    if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                    {
                        <div class="message-error">@validationSummary</div>
                    }
                    
                        if (Model.UsernamesEnabled)
                        {
                            @Html.LabelFor(m => m.Username, new { @class = "control-label" }, ":")
                            @Html.TextBoxFor(m => m.Username, new { @class = "username form-control", autofocus = "autofocus" })
                            @Html.ValidationMessageFor(m => m.Username)
                        }
                        else
                        {
                            
                                @Html.LabelFor(m => m.Email, new { @class = "control-label" }, ":")
                                @Html.TextBoxFor(m => m.Email, new { @class = "email form-control", autofocus = "autofocus" })
                                @Html.ValidationMessageFor(m => m.Email)
                            
                        }
                   
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" }, ":")
                        @Html.PasswordFor(m => m.Password, new { @class = "password form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                        
                       
                        if (Model.DisplayCaptcha)
                        {
                            <div class="captcha-box">
                                @Html.Raw(Html.GenerateCaptcha())
                            </div>
                        }
                   
                    <div class="text-left">
                        <p>
                            <span>@Html.CheckBoxFor(m => m.RememberMe)</span>
                            @Html.LabelFor(m => m.RememberMe)
                            <span class="forgot-password">
                                @Html.RouteLink(T("Account.Login.ForgotPassword").Text, "PasswordRecovery")
                            </span>
                        </p>
                            
                      
                        <input class="button-1 login-button link-v1 rt" type="submit" value="@T("Account.Login.LoginButton")" />
                        <p>
                            <a href="/register" id="customer_register_link">register</a>
                        </p>
                    </div>
                }

                @Html.Partial("_ExternalAuthentication.AssociateMessage")
                @Html.Partial("_ExternalAuthentication.Errors")
            </div>
        </div>
    </div>
    @*<div class="page-title">
        <h1>@T("Account.Login.Welcome")</h1>
    </div>

    <div class="page-body">
        <div class="customer-blocks">
            @if (Model.CheckoutAsGuest)
            {
                <div class="new-wrapper checkout-as-guest-or-register-block">
                    <div class="title">
                        <strong>@T("Account.Login.CheckoutAsGuestOrRegister")</strong>
                    </div>
                    <div class="text">
                        @Html.Action("TopicBlock", "Topic", new { systemName = "CheckoutAsGuestOrRegister" })
                    </div>
                    <div class="buttons">
                        <input type="button" class="button-1 checkout-as-guest-button" onclick="location.href='@Url.RouteUrl("Checkout")'" value="@T("Account.Login.CheckoutAsGuest")" />
                        <input type="button" class="button-1 register-button" onclick="location.href='@registerUrl'" value="@T("Account.Register")" />
                    </div>
                </div>
            }
            else
            {
                <div class="new-wrapper register-block">
                    <div class="title">
                        <strong>@T("Account.Login.NewCustomer")</strong>
                    </div>
                    <div class="text">
                        @T("Account.Login.NewCustomerText")
                    </div>
                    <div class="buttons">
                        <input type="button" class="button-1 register-button" onclick="location.href='@registerUrl'" value="@T("Account.Register")" />
                    </div>
                </div>
            }
            <div class="returning-wrapper fieldset">
                
            </div>
        </div>
        <div class="external-authentication">
            @Html.Action("ExternalMethods", "ExternalAuthentication")
        </div>
        @Html.Action("TopicBlock", "Topic", new { systemName = "LoginRegistrationInfo" })
    </div>
</div>*@
