﻿@model RegisterModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOneAccount.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
    </script>
}

<div class="container">
    <div class="banner-header banner-lbook3 space-30">
        <img src="~/Themes/Bonsai/Content/images/header-collection-page.jpg" alt="Banner-header">
        <div class="text">
            <h3>
                Register
            </h3>
            <p>
                <a href="/" title="Back to the frontpage">Home</a>
                <i class="fa fa-caret-right"></i>
                Register
            </p>
        </div>
    </div>
</div>

<div class="page-width page-login registration-page">
    <div class="grid">
        <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
            <div class="form-vertical">
                <h3>Create Account</h3>
                <p>Create your own Rimbus account.</p>
                @{
                    var validationSummary = Html.ValidationSummary(true);
                }
                @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
                {
                    <div class="message-error">@validationSummary</div>
                }
                @Html.Partial("_ExternalAuthentication.AssociateMessage")

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="fieldset">
                        <div class="title">
                            <strong>@T("Account.YourPersonalDetails")</strong>
                        </div>
                        <div class="form-fields">
                            @if (Model.GenderEnabled)
                            {
                          
                                    <label class="control-label">@T("Account.Fields.Gender")</label>
                                    <div class="gender">
                                        <span class="male">
                                            @Html.RadioButton("Gender", "M", (Model.Gender == "M"), new { id = "gender-male" })
                                            <label  for="gender-male">@T("Account.Fields.Gender.Male")</label>
                                        </span>
                                        <span class="female">
                                            @Html.RadioButton("Gender", "F", (Model.Gender == "F"), new { id = "gender-female" })
                                            <label  for="gender-female">@T("Account.Fields.Gender.Female")</label>
                                        </span>
                                    </div>
                              <br />
                            }
                            <div class="inputs">
                                @Html.LabelFor(model => model.FirstName, new { @class = "control-label" }, "")
                                @Html.EditorFor(model => model.FirstName)
                                @Html.RequiredHint()
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>

                            <div class="inputs">
                                @Html.LabelFor(model => model.LastName, new { @class = "control-label" }, "")
                                @Html.EditorFor(model => model.LastName)
                                @Html.RequiredHint()
                                @Html.ValidationMessageFor(model => model.LastName)

                                </div>

                                @if (Model.DateOfBirthEnabled)
                                {
                                    <div class="inputs date-of-birth">
                                        <label class="control-label">@T("Account.Fields.DateOfBirth")</label>
                                        @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.DateOfBirthDay),
                                Html.FieldNameFor(x => x.DateOfBirthMonth),
                                Html.FieldNameFor(x => x.DateOfBirthYear),
                                DateTime.Now.Year - 110,
                                DateTime.Now.Year,
                                Model.DateOfBirthDay,
                                Model.DateOfBirthMonth,
                                Model.DateOfBirthYear)
                                        @if (Model.DateOfBirthRequired)
                                        {
                                            @Html.RequiredHint()
                                        }
                                        @Html.ValidationMessageFor(model => model.DateOfBirthDay)
                                        @Html.ValidationMessageFor(model => model.DateOfBirthMonth)
                                        @Html.ValidationMessageFor(model => model.DateOfBirthYear)
                                    </div>
                                }

                            <div class="inputs">
                                @Html.LabelFor(model => model.Email, new { @class = "control-label" }, "")
                                @Html.EditorFor(model => model.Email)
                                @Html.RequiredHint()
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                                @if (Model.EnteringEmailTwice)
                                {

                                    @Html.LabelFor(model => model.ConfirmEmail, new { @class = "control-label" }, "")
                                    @Html.EditorFor(model => model.ConfirmEmail)
                                    @Html.RequiredHint()
                                    @Html.ValidationMessageFor(model => model.ConfirmEmail)

                                }
                                @if (Model.UsernamesEnabled)
                                {

                                    @Html.LabelFor(model => model.Username, new { @class = "control-label" }, "")
                                    @Html.EditorFor(model => model.Username)
                                    @Html.RequiredHint()
                                    @Html.ValidationMessageFor(model => model.Username)
                                    if (Model.CheckUsernameAvailabilityEnabled)
                                    {
                                        @Html.Partial("_CheckUsernameAvailability")
                                    }

                                }
                            </div>

                    </div>
                    if (Model.CompanyEnabled || Model.DisplayVatNumber)
                    {
                        <div class="fieldset">
                            <div class="title">
                                <strong>@T("Account.CompanyDetails")</strong>
                            </div>
                            <div class="form-fields">
                                @if (Model.CompanyEnabled)
                                {
                                    <div class="inputs">
                                        @Html.LabelFor(model => model.Company, new { @class = "control-label" }, "")
                                        @Html.EditorFor(model => model.Company)
                                        @if (Model.CompanyRequired)
                                        {
                                        @Html.RequiredHint()
                                        }
                                        @Html.ValidationMessageFor(model => model.Company)
                                    </div>
                                }
                                        @if (Model.DisplayVatNumber)
                                        {

                                            @Html.LabelFor(model => model.VatNumber, new { @class = "control-label" }, "")
                                            @Html.EditorFor(model => model.VatNumber)
                                            <span class="vat-note"><em>@T("Account.Fields.VatNumber.Note")</em></span>

                                        }
                                    </div>
                        </div>
                    }
                    if (Model.StreetAddressEnabled || Model.StreetAddress2Enabled || Model.ZipPostalCodeEnabled
            || Model.CityEnabled || Model.CountryEnabled)
                    {
                        <div class="fieldset">
                            <div class="title">
                                <strong>@T("Account.YourAddress")</strong>
                            </div>
                            <div class="form-fields">
                                @if (Model.StreetAddressEnabled)
                                {
                                  
                                        @Html.LabelFor(model => model.StreetAddress, new { @class = "control-label" }, "")
                                        @Html.EditorFor(model => model.StreetAddress)
                                        if (Model.StreetAddressRequired)
                                        {
                                            @Html.RequiredHint()
                                        }
                                        @Html.ValidationMessageFor(model => model.StreetAddress)
                         
                                }
                                @if (Model.StreetAddress2Enabled)
                                {
                                    
                                        @Html.LabelFor(model => model.StreetAddress2, new { @class = "control-label" }, "")
                                        @Html.EditorFor(model => model.StreetAddress2)
                                        if (Model.StreetAddress2Required)
                                        {
                                            @Html.RequiredHint()
                                        }
                                        @Html.ValidationMessageFor(model => model.StreetAddress2)
                                
                                }
                                @if (Model.ZipPostalCodeEnabled)
                                {
                                
                                        @Html.LabelFor(model => model.ZipPostalCode, new { @class = "control-label" }, "")
                                        @Html.EditorFor(model => model.ZipPostalCode)
                                        if (Model.ZipPostalCodeRequired)
                                        {
                                            @Html.RequiredHint()
                                        }
                                        @Html.ValidationMessageFor(model => model.ZipPostalCode)
                             
                                }
                                @if (Model.CityEnabled)
                                {
                                
                                        @Html.LabelFor(model => model.City, new { @class = "control-label" }, "")
                                        @Html.EditorFor(model => model.City)
                                        if (Model.CityRequired)
                                        {
                                            @Html.RequiredHint()
                                        }
                                        @Html.ValidationMessageFor(model => model.City)
                        
                                }
                                @if (Model.CountryEnabled)
                                {
                                   
                                        @Html.LabelFor(model => model.CountryId, new { @class = "control-label" }, "")
                                        @Html.DropDownList("CountryId", Model.AvailableCountries)
                                        if (Model.CountryRequired)
                                        {
                                            @Html.RequiredHint()
                                        }
                                        @Html.ValidationMessageFor(model => model.CountryId)
                  
                                }
                                @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                                {
                                    
                                        @Html.LabelFor(model => model.StateProvinceId, new { @class = "control-label" }, "")
                                        @Html.DropDownList("StateProvinceId", Model.AvailableStates)
                                        if (Model.StateProvinceRequired)
                                        {
                                            @Html.RequiredHint()
                                        }
                                        @Html.ValidationMessageFor(model => model.StateProvinceId)
                                        <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                             
                                }
                            </div>
                        </div>
                    }
                   if (Model.PhoneEnabled || Model.FaxEnabled)
                    {
                        <div class="fieldset">
                            <div class="title">
                                <strong>@T("Account.YourContactInformation")</strong>
                            </div>
                            <div class="form-fields">
                                @if (Model.PhoneEnabled)
                                {
                                   
                                        @Html.LabelFor(model => model.Phone, new { @class = "control-label" }, "")
                                        @Html.EditorFor(model => model.Phone)
                                        if (Model.PhoneRequired)
                                        {
                                            @Html.RequiredHint()
                                        }
                                        @Html.ValidationMessageFor(model => model.Phone)
                          
                                }
                                @if (Model.FaxEnabled)
                                {
                                    
                                        @Html.LabelFor(model => model.Fax, new { @class = "control-label" }, "")
                                        @Html.EditorFor(model => model.Fax)
                                        if (Model.FaxRequired)
                                        {
                                            @Html.RequiredHint()
                                        }
                                        @Html.ValidationMessageFor(model => model.Fax)
                         
                                }
                            </div>
                        </div>
                    }
                    if (Model.NewsletterEnabled || Model.CustomerAttributes.Count > 0)
                    {
                        <div class="fieldset">
                            <div class="title">
                                <strong>@T("Account.Options")</strong>
                            </div>
                            <div class="form-fields">
                                @if (Model.NewsletterEnabled)
                                {
                                    
                                        @Html.LabelFor(model => model.Newsletter, new { @class = "control-label" }, "")
                                        @Html.EditorFor(model => model.Newsletter)
                                        @Html.ValidationMessageFor(model => model.Newsletter)
                          
                                }
                                @if (Model.CustomerAttributes.Count > 0)
                                {
                                    @Html.Partial("_CustomerAttributes", Model.CustomerAttributes)
                                }
                            </div>
                        </div>
                    }
                    if (Model.AllowCustomersToSetTimeZone)
                    {
                        <div class="fieldset">
                            <div class="title">
                                <strong>@T("Account.Preferences")</strong>
                            </div>
                        
                                @if (Model.AllowCustomersToSetTimeZone)
                                {
                                
                                        @Html.LabelFor(model => model.TimeZoneId, new { @class = "control-label" }, "")
                                        @Html.DropDownList("TimeZoneId", Model.AvailableTimeZones)
                                        @Html.ValidationMessageFor(model => model.TimeZoneId)
                            
                                }
                  
                        </div>
                    }
                    <div class="fieldset">
                        <div class="title">
                            <strong>@T("Account.YourPassword")</strong>
                        </div>
                        <div class="form-fields">
                            <div class="inputs">
                                @Html.LabelFor(model => model.Password, new { @class = "control-label" }, "")
                                @Html.EditorFor(model => model.Password)
                                @Html.RequiredHint()
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                            <div class="inputs">
                                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label" }, "")
                                @Html.EditorFor(model => model.ConfirmPassword)
                                @Html.RequiredHint()
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>
                            @if (Model.DisplayCaptcha)
                            {
                                <div class="captcha-box">
                                    @Html.Raw(Html.GenerateCaptcha())
                                </div>
                            }
                            @if (Model.HoneypotEnabled)
                            {
                                @Html.Raw(Html.GenerateHoneypotInput())
                            }
                        </div>
                    </div>
                    if (Model.AcceptPrivacyPolicyEnabled)
                    {
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#register-button').click(function () {
                                    if ($('#accept-privacy-policy').is(':checked')) {
                                        //do some stuff
                                        return true;
                                    }
                                    else {
                                        //just show validation errors, dont post
                                        alert('@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                        return false;
                                    }
                                });
                            });
                        </script>
                        <div class="accept-privacy-policy">
                            <input id="accept-privacy-policy" type="checkbox" name="accept-privacy-policy" />
                            <label for="accept-privacy-policy">@T("Account.Fields.AcceptPrivacyPolicy")</label>
                            <span class="read" id="read-privacyinfo">@T("Account.Fields.AcceptPrivacyPolicy.Read")</span>
                            <script>
                                $(document).ready(function () {
                                    $('#read-privacyinfo').on('click', function (e) {
                                        displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new { SystemName = "privacyinfo" })', '@T("Account.Fields.AcceptPrivacyPolicy")');
                                    });
                                });
                            </script>
                        </div>
                    }
                    <p class="text-left">
                        <input type="submit" value="Create" class="link-v1 rt">
                    </p>
                    <div class="external-authentication">
                        @Html.Action("ExternalMethods", "ExternalAuthentication")
                    </div>

                }
            </div>
        </div>
    </div>
</div>
